<form #bannerForm="ngForm" nzForm (ngSubmit)="!bannerId ? addBanner() : editBanner()">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="bannerName" nzRequired>
        Name
      </nz-form-label>
      <nz-form-control  [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <input type="text" nz-input id="bannerName" name="bannerName" autocomplete="off"
          placeholder="Enter banner name"
          [(ngModel)]="banner.name"
          required
        />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="remarks" nzRequired>
        Remarks
      </nz-form-label>
      <nz-form-control  [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <input type="text" nz-input id="remarks" name="remarks" autocomplete="off"
          placeholder="Enter remarks"
          [(ngModel)]="banner.remarks"
          required
        />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="displayOrder" nzRequired>
        Display Order
      </nz-form-label>
      <nz-form-control  [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <nz-input-number id="displayOrder" name="displayOrder" autocomplete="off"
          [nzMin]="1" [nzMax]="30" [nzStep]="1" 
          placeholder="Enter display order"
          [(ngModel)]="banner.displayOrder"
          required
        >
        </nz-input-number>
      </nz-form-control>
      
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="4">
        <label nz-checkbox name="isHead" [(ngModel)]="banner.isHead">Is Head</label> 
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Select Banner</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzAccept]="allowedImages">
          <button type="button" [disabled]="fileList.length == 1" nz-button>
            <i nz-icon nzType="upload"></i>Click to Upload
          </button>
        </nz-upload>
        <img *ngIf="banner.image" class="img img-thumbnail" width="70" src="{{ banner.image }}" alt="" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <button type="Submit" *ngIf="!bannerId" nz-button nzType="primary" 
          [disabled]="bannerForm.invalid"
        >
          Submit
        </button>
        <button type="Submit" *ngIf="bannerId" nz-button nzType="primary" 
          [disabled]="bannerForm.invalid"
        >
          Update
        </button>
        &nbsp;
        <button nz-button nzType="primary" [routerLink]="['/banners']">Back</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  