<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #driverForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <h5><strong class="pull-left" *ngIf="Retailer.Name != '' && Retailer.Name != null">{{Retailer.Name}}'s Info!</strong>
              <strong *ngIf="Retailer.RetailerTag != '' && Retailer.RetailerTag != null" style="padding-left: 30%;">Supplier Code: {{Retailer.RetailerTag}}</strong>

            </h5>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td><b>Name*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Name" name="name"
                      [(ngModel)]="Retailer.Name" />
                  </td>
                  <td><b>Phone*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Phone" name="Phone"
                      [(ngModel)]="Retailer.Phone" />
                  </td>
                </tr>
                <tr>
                  <td><b>Email*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Email" name="Email"
                      [(ngModel)]="Retailer.Email" />
                  </td>
                  <td><b>Address*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Address" name="Address"
                      [(ngModel)]="Retailer.Address" />
                  </td>
                </tr>
                <tr>
                  <td>Landmark</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Landmark" name="Landmark"
                      [(ngModel)]="Retailer.Landmark" />
                  </td>
                  <td>Pincode</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Pincode" name="Pincode"
                      [(ngModel)]="Retailer.Pincode" />
                  </td>
                </tr>

                <tr>
                  <td>Contact Person Name</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Contact Person Name" name="ContactPerson"
                      [(ngModel)]="Retailer.ContactPerson"/>
                  </td>
                  <td>Contact Person Phone</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Contact Person Phone" name="ContactPersonPhone"
                      [(ngModel)]="Retailer.ContactPersonPhone" />
                  </td>
                </tr>
                <tr>
                  <td>Contact Person Address</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Contact Person Address" name="ContactPersonAddress"
                      [(ngModel)]="Retailer.ContactPersonAddress" />
                  </td>
                  <td>Contact Person Email</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Contact Person Email" name="ContactPersonEmail"
                      [(ngModel)]="Retailer.ContactPersonEmail" />
                  </td>
                </tr>
                <tr>
                  <td>Vendor Image</td>
                  <td colspan="3">
                    <input name="file" type="file" id="VendorImage" (change)="uploadVendorFile($event)">

                    <img src={{url}}{{VimgURL}} runat="server" alt="" style="float: right; height: 150px; width: 150px;" /><br>
                      <small style="color: red;">{{messageV}}</small>
                  </td>
                  <td>Contact Person Image</td>
                  <td colspan="3">
                    <input name="file" type="file" id="ContactImage" (change)="uploadCPFile($event)">

                    <img src={{CPimgURL}} runat="server" alt="" style="float: right; height: 150px; width: 150px;" /><br>
                      <small style="color: red;">{{messageCP}}</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="validateForm()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> &nbsp;
            <button type="button" class="btn btn-sm btn-secondary " [routerLink]="['/retailer-list']"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button> &nbsp;


          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- <div class="col-sm-6">
    <div class="row form-group">
      <label class="col-md-3 col-form-label text-right">Longitude</label>
      <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Enter Longitude" name="Longitude"
          [(ngModel)]="Retailer.Longitude" #longRef="ngModel"
          [class.is-invalid]="longRef.invalid && longRef.touched" required />
        <small class="text-danger" [class.d-none]="longRef.valid || longRef.untouched">Longitude is required
        </small>
      </div>
    </div>
  </div> -->
