<form nzForm #userForm="ngForm" (ngSubmit)="onSubmit()">
  <!-- {{ userModel | json }} -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>{{ 'Users.UsersAddForm.name' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid name!">
      <input type="text" nz-input id="name" pattern="^[a-zA-Z\s]+$" autocomplete="off" placeholder="Enter Name"
        name="name" [(ngModel)]="userModel.name" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzFor="phone" nzRequired>{{ 'Users.UsersAddForm.phone' |
      translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorMsgPhone" nzValidatingTip="Checking Availability"
      [nzValidateStatus]="validatingPhone" nzHasFeedback>
      <input type="text" nz-input id="phone" pattern="^[0-9 -]+$" autocomplete="off" placeholder="Enter Phone"
        name="phone" [(ngModel)]="userModel.phone" (change)="checkPhone()" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>{{ 'Users.UsersAddForm.email' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorMsg" nzValidatingTip="Checking Availability"
      [nzValidateStatus]="validating" nzHasFeedback>
      <input type="email" nz-input id="email" autocomplete="off" placeholder="Enter Email" name="email" [disabled]="id"
        (change)="checkEmail()" [(ngModel)]="userModel.email" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!id">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{ 'Users.UsersAddForm.password' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid password!">
      <input type="password" nz-input id="password" [NgPasswordValidator]="defaultOptions" (valid)="isValid($event)"
        (keyup)="onInput($event)" autocomplete="off" placeholder="Enter Password" name="password"
        [(ngModel)]="userModel.password" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>{{ 'Users.UsersAddForm.role' | translate }}
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid role!">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a role" [(ngModel)]="userModel.role" name="role"
        required>
        <nz-option *ngFor="let role of roleList" [nzLabel]="role.name" [nzValue]="role._id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button type="submit" nz-button nzType="primary" [disabled]="userForm.invalid || errorMsg != ''">
        {{ !id ? "Submit" : "Update" }}
      </button>
      <button type="button" nz-button nzType="primary" class="btn2" [routerLink]="['/users']">
        {{ 'Users.UsersAddForm.back' | translate }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
