<div style="background: #ECECEC;padding:8px;">
  <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Registration" [nzExtra]="extraTemplate">
    <div class="card profile-card-user">
      <div class="card-header"><span><i nz-icon nzType="wallet" nzTheme="outline"></i> User Wallet</span> </div>
      
            <nz-table #agentDetailTable [nzData]="agentDetailArr" [nzFrontPagination]="false" [nzLoading]="agentDetailLoading" class="table-bordered">
                <thead>
                  <tr>
                    <th>Total Balance</th>
                    <th>Total Exposure</th>
                    <th>Avaialble Balance</th>
                    <th>Balance</th>
                    <th>Total Credit Limit</th>
                    <th>Avaialble Credit Limit</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of agentDetailTable.data">
                    <td>{{c.openingBalance}}</td>
                    <td >{{c.exposure}}</td>
                    <td >{{c.availableBalance}}</td>
                    <td>{{c.investedBalance}}</td>
                    <td>{{c.totalCreditLimit}}</td>
                    <td>{{c.availableCreditLimit}}</td>
                  </tr>
                </tbody>
              </nz-table>
              </div>
              <div class="row">
              <div class="col-md-3 searchpanel">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <input type="text" nz-input placeholder="Search By Name" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
                </div>
                <div class="col-md-6 text-right searchpanel">
                  <!-- <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker> -->
                  <nz-date-picker  (ngModelChange)="onChange($event)" ></nz-date-picker> to
                  <nz-date-picker  (ngModelChange)="onChange($event)"></nz-date-picker>
                  <button nz-button nzType="primary" type="submit" class="btn-success su">Search</button>
              </div>
                <div class="col-md-3 text-right searchpanel">
            <button class="btn btn-primary btn-sm" type="button" [routerLink]="['add']" nzTooltipTitle="New Registration User or Agent" nzTooltipPlacement="left" nz-button nz-tooltip>
                    <!-- <i class="fa fa-plus"></i> -->
                      Add New Registration</button>
                   </div>
                  </div>
            
            <nz-tabset>
                
                <nz-tab nzTitle="Users List" >
                    <nz-table #userTable [nzData]="userList" [nzFrontPagination]="false" [nzLoading]="loading" class="table-bordered">
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>User Id</th>
                            <th>Avaialble Balance</th>
                            <th>Credit Limit</th>
                            <th>Exposure</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of userTable.data ">
                            <td>{{data.name}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.availableBalance}}</td>
                            <td>{{data.creditLimit}}</td>
                            <td>{{data.exposure}}</td>
                            <td>{{data.createdDate | date: 'dd/MM/yyyy,h:mm a'}}</td>
                            <td class="text-pointer">
                                <i *ngIf="data.isActive===true" nz-icon nzType="check" nzTheme="outline" style="color:green ;" nzTooltipTitle="Active" nzTooltipPlacement="top" nz-button nz-tooltip ></i>
                                <i *ngIf="data.isActive===false"nz-icon nzType="close" nzTheme="outline" style="color:red ;" nzTooltipTitle="Deactive" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                            </td>
                            <td>
                              <i nz-icon nzType="edit" nzTheme="outline" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-button nz-tooltip ></i>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span (click)="userDelete(data.id)" class="text-denger"><i nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Delete" nzTooltipPlacement="top" nz-button nz-tooltip></i></span>
                          </td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <nz-pagination [nzPageIndex]="1" [nzTotal]="totalUser" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
                    
                </nz-tab>
                <nz-tab nzTitle="Agent List">
                    <nz-table #agentTable [nzData]="agentList" [nzFrontPagination]="false" [nzLoading]="agentLoading" class="table-bordered" >
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>User Id</th>
                            <th>Avaialble Balance</th>
                            <th>Credit Limit</th>
                            <th>Exposure</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of agentTable.data ">
                            <td>{{data.name}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.availableBalance}}</td>
                            <td>{{data.creditLimit}}</td>
                            <td>{{data.exposure}}</td>
                            <td>{{data.createdDate | date: 'dd/MM/yyyy,h:mm a'}}</td>
                            <td class="text-pointer">
                                <i *ngIf="data.isActive===true" nz-icon nzType="check" nzTheme="outline" style="color:green ;" nzTooltipTitle="Active" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                            
                               <i *ngIf="data.isActive===false"nz-icon nzType="close" nzTheme="outline" style="color:red ;" nzTooltipTitle="Deactive" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                            </td>
                            <td>
                                <i nz-icon nzType="edit" nzTheme="outline" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-button nz-tooltip ></i>
                              <nz-divider nzType="vertical"></nz-divider>
                              <span (click)="userDelete(data.id)" class="text-denger"><i nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Delete" nzTooltipPlacement="top" nz-button nz-tooltip></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <nz-pagination [nzPageIndex]="1" [nzTotal]="totalAgent" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
                </nz-tab>
                
              </nz-tabset>
            
      
    
            </nz-card>
          </div>
          <ng-template #extraTemplate>
              <!-- <a>More</a> -->
            </ng-template>    
          
           
