<div style="background: #ECECEC;padding:8px;">
  <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Registration" [nzExtra]="extraTemplate">
    <div class="card">
      <div class="card-header"><h6> User Wallet <span class="float-end" nzTooltipTitle="Add New User or Agent" nzTooltipPlacement="left" nz-button nz-tooltip><button class="btn btn-outline-primary btn-sm" type="button" [routerLink]="['add']">
        <i class="fa fa-plus"></i>
        Add New</button></span></h6></div>
            <nz-table #agentDetailTable [nzData]="agentDetailArr" [nzFrontPagination]="false" [nzLoading]="agentDetailLoading">
                <thead>
                  <tr>
                    <th>Total Balance</th>
                    <th>Total Exposure</th>
                    <th>Avaialble Balance</th>
                    <th>Balance</th>
                    <th>Total Credit Limit</th>
                    <th>Avaialble Credit Limit</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of agentDetailTable.data">
                    <td>{{c.openingBalance}}</td>
                    <td >{{c.exposure}}</td>
                    <td >{{c.availableBalance}}</td>
                    <td>{{c.investedBalance}}</td>
                    <td>{{c.totalCreditLimit}}</td>
                    <td>{{c.availableCreditLimit}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <nz-tabset>
                
                <nz-tab nzTitle="Users List" >
                    <nz-table #userTable [nzData]="userList" [nzFrontPagination]="false" [nzLoading]="loading" >
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>User Id</th>
                            <th>Avaialble Balance</th>
                            <th>Credit Limit</th>
                            <th>Exposure</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of userTable.data ">
                            <td>{{data.name}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.availableBalance}}</td>
                            <td>{{data.creditLimit}}</td>
                            <td>{{data.exposure}}</td>
                            <td>{{data.createdDate | date: 'dd/MM/yyyy,h:mm a'}}</td>
                            <td class="text-pointer">
                                <i *ngIf="data.isActive===true" nz-icon nzType="check" nzTheme="outline" style="color:green ;" nzTooltipTitle="Active" nzTooltipPlacement="top" nz-button nz-tooltip></i></td>
                                <td class="text-pointer"><i *ngIf="data.isActive===false"nz-icon nzType="close" nzTheme="outline" style="color:red ;" nzTooltipTitle="Deactive" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                            </td>
                            <td>
                                <i nz-icon nzType="edit" nzTheme="outline" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                              <nz-divider nzType="vertical"></nz-divider>
                              <div (click)="userDelete(data.id)"><i nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Delete" nzTooltipPlacement="top" nz-button nz-tooltip></i></div>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <nz-pagination [nzPageIndex]="1" [nzTotal]="totalUser" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
                    
                </nz-tab>
                <nz-tab nzTitle="Agent List">
                    <nz-table #agentTable [nzData]="agentList" [nzFrontPagination]="false" [nzLoading]="agentLoading" >
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>User Id</th>
                            <th>Avaialble Balance</th>
                            <th>Credit Limit</th>
                            <th>Exposure</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of agentTable.data ">
                            <td>{{data.name}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.availableBalance}}</td>
                            <td>{{data.creditLimit}}</td>
                            <td>{{data.exposure}}</td>
                            <td>{{data.createdDate | date: 'dd/MM/yyyy,h:mm a'}}</td>
                            <td class="text-pointer">
                                <i *ngIf="data.isActive===true" nz-icon nzType="check" nzTheme="outline" style="color:green ;" nzTooltipTitle="Active" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                               </td>
                               <td class="text-pointer"> <i *ngIf="data.isActive===false"nz-icon nzType="close" nzTheme="outline" style="color:red ;" nzTooltipTitle="Deactive" nzTooltipPlacement="top" nz-button nz-tooltip></i>
                            </td>
                            <td>
                                <i nz-icon nzType="edit" nzTheme="outline" nzTooltipTitle="Edit" nzTooltipPlacement="top" nz-button nz-tooltip ></i>
                              <nz-divider nzType="vertical"></nz-divider>
                              <div (click)="userDelete(data.id)" class="text-denger"><i nz-icon nzType="delete" nzTheme="outline" nzTooltipTitle="Delete" nzTooltipPlacement="top" nz-button nz-tooltip></i></div>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>
                      <nz-pagination [nzPageIndex]="1" [nzTotal]="totalAgent" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
                </nz-tab>
                
              </nz-tabset>
            
      
    

</nz-card>
</div>
<ng-template #extraTemplate>
    <!-- <a>More</a> -->
  </ng-template>  