<div class="col-lg-12">

  <div class="card">
    <div class="card-body">
      <!-- pincode form ------------------------------------------------->
      <div class="row">

        <div class="col-sm-5">
          <div class="row form-group">
            <label class="col-md-3 col-form-label text-right">Pincode</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Enter Pincode" [(ngModel)]="pincode">
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="row form-group">
            <label class="col-md-3 col-form-label text-right">Route</label>
            <div class="col-md-9">
              <select name="Route" class="form-control" [(ngModel)]="Route">
                      <option [value]="" selected>Select Route</option>
                      <option [value]="'ROUTE 1'">ROUTE 1</option>
                      <option [value]="'ROUTE 2'">ROUTE 2</option>
                      <option [value]="'ROUTE 3'">ROUTE 3</option>
                      <option [value]="'ROUTE 4'">ROUTE 4</option>
                      <option [value]="'ROUTE 5'">ROUTE 5</option>
                      <option [value]="'ROUTE 6'">ROUTE 6</option>
                      <option [value]="'ROUTE 7'">ROUTE 7</option>
                      <option [value]="'ROUTE 8'">ROUTE 8</option>
                      <option [value]="'ROUTE 9'">ROUTE 9</option>
                      <option [value]="'ROUTE 10'">ROUTE 10</option>
                      <option [value]="'ROUTE 11'">ROUTE 11</option>
                      <option [value]="'ROUTE 12'">ROUTE 12</option>
                      <option [value]="'ROUTE 13'">ROUTE 13</option>
                      <option [value]="'ROUTE 14'">ROUTE 14</option>
                      <option [value]="'ROUTE 15'">ROUTE 15</option>
                      <option [value]="'ROUTE 16'">ROUTE 16</option>
                      <option [value]="'ROUTE 17'">ROUTE 17</option>
                      <option [value]="'ROUTE 18'">ROUTE 18</option>
                      <option [value]="'ROUTE 19'">ROUTE 19</option>
                      <option [value]="'ROUTE 20'">ROUTE 20</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="getPincode(1)" class="btn btn-sm btn-primary" [disabled]="PageSize==0">
            <i class="fa fa-dot-circle-o"></i>
            Search
          </button>
          <button type="button" class="btn btn-success btn-sm" (click)="addPincode()">
            <i class="fa fa-plus"></i>
            Add
          </button>
        </div>
      </div>
      <!-- pincode form end ----------------------------------------------->

      <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="data" #mf="mfDataTable">
        <thead>
          <tr>
            <th width="10%"><mfDefaultSorter by="Pincode">Pincode</mfDefaultSorter></th>
            <th><mfDefaultSorter by="Area">Area</mfDefaultSorter></th>
            <th><mfDefaultSorter by="District">District</mfDefaultSorter></th>
            <th><mfDefaultSorter by="Route">Route</mfDefaultSorter></th>
            <th class="text-center" width="8%"><mfDefaultSorter by="IsActive">Publish</mfDefaultSorter></th>
            <th width="8%">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let dt of mf.data">
            <td>{{ dt.Pincode }}</td>
            <td>{{ dt.Area }}</td>
            <td>{{ dt.District }}</td>
            <td>{{ dt.Route }}</td>
            <td class="text-center">
              <span class="text-success pointer" *ngIf="dt.IsActive == 1; else elseSpan"
                (click)="onStatus(dt.PincodeId, '0')"><i class="fa fa-check fa-lg"></i></span>
              <ng-template #elseSpan>
                <span class="text-danger pointer" (click)="onStatus(dt.PincodeId, 1)"><i
                    class="fa fa-close fa-lg"></i></span>
              </ng-template>
            </td>
            <td>
              <a class="btn btn-sm btn-warning" [routerLink]="['edit', dt.PincodeId]"><i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i> Edit</a>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="5">
              <pagination [totalItems]="count" [boundaryLinks]='true' [itemsPerPage]="PageSize" [maxSize]="5" [rotate]='false' [(ngModel)]="page"
                (pageChanged)="getPagination($event.page)">
              </pagination>
            </td>
            <td colspan="1">
              <select class="form-control" [(ngModel)]="PageSize" (change)="PageSize > 0 ? getPincode(1) : ''">
                <option value="0">Page Size</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
