<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/welcome" target="_blank">
        <img src="../../assets/img/logo.png" alt="logo" />
      </a><span class="float-right fw-bold">Prime Games</span>
      
    </div>
    
    <!-- nzOpen -->
  
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard" routerLink="/welcome">
        <!-- <ul>
          <div *ngFor="let role of userRole.role">
            <li nz-menu-item nzMatchRouter>
              <i [class]="role.icon"></i><a>Dashboard</a>
            </li>
          </div>
        </ul> -->
      </li>
    </ul>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="My Profile" nzIcon="solution">
        <ul>
          <div >
            <li nz-menu-item nzMatchRouter >
              <i nz-icon nzType="user" nzTheme="outline"></i><a routerLink="/myaccount">Profile Details</a>
            </li>
          </div>
          <div >
            <li nz-menu-item nzMatchRouter >
              <i nz-icon nzType="bank" nzTheme="outline"></i><a routerLink="/user-banking">User Banking</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Registration" nzIcon="highlight">
        <ul>
          <div >
            <li nz-menu-item nzMatchRouter >
              <i nz-icon nzType="team" nzTheme="outline"></i><a routerLink="/users">Users</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <!-- <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="User Banking" nzIcon="bank" routerLink="/user-banking">
        <ul>
          <div *ngFor="let role of userRole.role">
            <li nz-menu-item nzMatchRouter>
              <i [class]="role.icon"></i><a>Dashboard</a>
            </li>
          </div>
        </ul>
      </li>
    </ul> -->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Games Settings" nzIcon="reddit">
        <ul>
          <div >
            <li nz-menu-item nzMatchRouter >
              <i nz-icon nzType="dribbble" nzTheme="outline"></i><a routerLink="/Gamecategory">Game</a>
            </li>
          </div>
          <div >
            <li nz-menu-item nzMatchRouter >
              <i nz-icon nzType="apartment" nzTheme="outline"></i><a routerLink="/Gamecategory">Game Category</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
   
    <!-- <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu  nzTitle="Report" nzIcon="file-text">
        <ul>
          <div *ngFor="let role of userRole.role">
            <li nz-menu-item nzMatchRouter *ngIf="role.category == '4'">
              <i [class]="role.icon"></i><a [routerLink]="role.url">{{ role.title }}</a>
            </li>
          </div>
        </ul>
      </li>
    </ul> -->
    <!-- <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu  nzTitle="Settings" nzIcon="setting">
        <ul>
          <div *ngFor="let role of userRole.role">
            <li nz-menu-item nzMatchRouter *ngIf="role.category == '5'">
              <i [class]="role.icon"></i><a [routerLink]="role.url">{{ role.title }}</a>
            </li>
          </div>
        </ul>
      </li>
    </ul> -->
    <!-- <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="isSettingsVisible">
      <li nz-submenu  nzTitle="App Settings" nzIcon="setting">
        <ul>
          <div *ngFor="let role of userRole.role">
            <li nz-menu-item nzMatchRouter *ngIf="role.category == '10'">
              <i [class]="role.icon"></i><a [routerLink]="role.url">{{ role.title }}</a>
            </li>
          </div>
        </ul>
      </li>
    </ul> -->
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>

        <i class="pointer pull-right logout-button" nz-icon nzType="logout" nzTheme="outline" nz-popconfirm
          nzPopconfirmTitle="Are you sure ?" (nzOnConfirm)="logout()" nzPopconfirmPlacement="left"></i>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
