<div class="col-lg-12">

    <div class="card">
      <div class="card-body">
  
        <div class="row">
          <div class="col-sm-6">
            <div class="row form-group">
              <label for="cms-data" class="col-md-3 col-form-label text-right"> Payment Receipt :</label>
              <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-12 col-md-6 form-group">
                      <input type="text"
                             placeholder="03/07/2021 to 03/20/2021"
                             class="form-control"
                             bsDaterangepicker 
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
                            [(ngModel)]="daterangepickerModel">
                    </div>
                    <button type="button" (click)="getData()" class="btn btn-xs btn-primary">
                        <i class="fa fa-dot-circle-o"></i>
                        Get Data
                      </button>
                    </div>
              </div>
            </div>
          </div>
      </div> 
    </div>
<div class="col-lg-12">
<div class="row">
  <div class="col-sm">
      <!-- Div Class For Net Receipt -->
    <div class="card" >
        <div class="card-header">
            <b>
                Net Receipt Summery
            </b>
        </div>
        <div class="card-body">
          <p>
            <span>
              Sales
            </span>
            <span>
              {{sale.toFixed(2)}}
            </span>
          </p>
          <p>
            <span>
              Less:Discount
            </span> 
            <span>
                {{TotalDiscount.toFixed(2)}}
            </span>
          </p>
           
            <p>
               <span>
                Net Sales
               </span> 
               <span >
                {{TotalSubTotal.toFixed(2)}}
               </span>
            </p>
            <p >
               <span>
                Add:GST
               </span> 
               <span>
                 {{TotalGstAmount.toFixed(2)}}
               </span>
            </p>
           
            <p >
               <span>
                Gross Sales
               </span> 
               <span>
                   {{TotalOrderTotalWithGst.toFixed(2)}}
               </span>
            </p>

            <p >
               <span>
                Add:Delivery Charges
               </span> 
               <span>
                   {{DeliveryAmount.toFixed(2)}}
               </span>
            </p>
           
            <hr>
            <p >
                <span>
                   <b>
                    Net Receipt
                   </b> 
                </span> 
                <span>
                    
                    {{NetSalePrice.toFixed(2)}}
                </span>
            </p>
        </div>
    </div>
    </div>
    <div class="col-sm">
     <!-- Div Class For Mode Receipt -->
     <div class="card">
        <div class="card-header">
            <b>
                Mode Receipt Summery
            </b>
           
        </div>
        <div class="card-body">
            <p>
                <span>
                 HDFC
                </span> 
                <span>
                    1600
                </span>
             </p>
             <p >
                <span>
                 PAYTM
                </span> 
                <span>
                    50
                </span>
             </p>
            
             <p >
                <span>
                PHONE PAY
                </span> 
                <span>
                    1650
                </span>
             </p>
 
             <p >
                <span>
                 MOBI WIKE
                </span> 
                <span>
                    50
                </span>
             </p>
             <p >
               <span>
                 FREE CHARGE
               </span> 
               <span>
                   0
               </span>
             </p>
             <p >
                <span>
                  AMAZON PAY
                </span> 
                <span>
                    0
                </span>
              </p>
              <p >
                <span>
                  CASH
                </span> 
                <span>
                    0
                </span>
              </p>
             <hr>
             <p >
                 <span>
                    <b>
                        TOTAL
                    </b> 
                 </span> 
                 <span>
                     
                     1700
                 </span>
             </p>
        </div>
    </div>
    </div>
    <div class="col-sm">
    <!-- Div Class For Commission Payable -->
    <div class="card">
        <div class="card-header">
            <b>
                Commission Payable Summery
            </b>
            
        </div>
        <div class="card-body">
            <p >
                <span>
                  Alibaba Products
                </span> 
                <span>
                    {{OACommission.toFixed(2)}}
                </span>
              </p>
              <p >
                <span>
                  Non Alibaba Products
                </span> 
                <span>
                    {{NOACommission.toFixed(2)}}
                </span>
              </p>
             <hr>
             <p >
                 <span>
                    <b>
                        TOTAL
                    </b>
                 </span> 
                 <span>
                     
                     {{TotalCommission.toFixed(2)}}
                 </span>
             </p>
        </div>
    </div>

  </div>  
</div>    
</div>
</div>
  