<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">        
          <form #productsForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td><b>Product Name*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Product Name" name="Name" 
                    [(ngModel)]="Product.Name" #NameRef="ngModel"> 
                  </td>
                  <td><b>SKU*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Product SKU" name="Sku" 
                    [(ngModel)]="Product.Sku" #SkuRef="ngModel">
                  </td>
                </tr>
                <tr>
                    <td><b>Category*</b></td>
                    <td colspan="3">
                      <select name="CategoryId" class="form-control" [(ngModel)]="Product.CategoryId">
                        <option [value]="0" selected>Select Category</option>
                        <option *ngFor="let val of parentcategory" [value]="val.CategoryId">
                          {{val.Category}}
                        </option>
                      </select>
                    </td>
                    <td><b>Code</b></td>
                    <td colspan="3">
                      <strong *ngIf="Product.ProductCode !='' && Product.ProductCode != null">{{Product.ProductCode}}</strong>
                      <strong *ngIf="Product.ProductCode =='' || Product.ProductCode == null">Product Not yet Created</strong>
                    </td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td>Short Description</td>
                  <td colspan="3">
                    <textarea class="form-control" id="" placeholder="Enter Short Description" 
                    name="ShortDescription" [(ngModel)]="Product.ShortDescription" #ShortDescriptionRef="ngModel"></textarea>
                  </td>
                  <td>Full Description</td>
                  <td colspan="3">
                    <textarea class="form-control" placeholder="Enter Full Description" 
                    name="FullDescription" [(ngModel)]="Product.FullDescription" #FullDescriptionRef="ngModel"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>Meta Title</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Meta Title" name="MetaTitle" 
                    [(ngModel)]="Product.MetaTitle" #MetaTitleRef="ngModel" >
                  </td>
                  <td>Meta Key Words</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Meta Key Words" name="MetaKeyWords" 
                    [(ngModel)]="Product.MetaKeyWords" #MetaKeyWordsRef="ngModel">
                  </td>
                </tr>
                <tr>
                    <td>Meta Description</td>
                    <td colspan="3">
                      <textarea class="form-control" placeholder="Enter Meta Description" name="MetaDescription" [(ngModel)]="Product.MetaDescription" #MetaDescriptionRef="ngModel"></textarea>
                    </td>
                    <td>Product Tags</td>
                    <td colspan="3">
                      <input type="text" class="form-control" placeholder="Enter Product Tags" name="ProductTags" 
                    [(ngModel)]="Product.ProductTags" #ProductTagsRef="ngModel">
                    </td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td><b>Brand*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Brand" name="Brand" [(ngModel)]="Product.Brand" #DisplayOrderRef="ngModel">      
                  </td>
                  <td><b>Manufacturer*</b></td>
                  <td colspan="3">
                    <input type="radio" [(ngModel)]="Product.Manufacturer" name="Manufacturer" value="1"> Only Alibaba (OA) &nbsp;
                    <input type="radio" [(ngModel)]="Product.Manufacturer" name="Manufacturer" value="2"> Others (NOA)
                  </td>
                </tr>
                <tr>
                  <td><b>Supplier*</b></td>
                  <td colspan="3">
                    <select name="Supplier" class="form-control" [(ngModel)]="Product.RetailerId">
                      <option value="0" selected>Select Supplier</option>
                      <option *ngFor="let val of retailerlist" [value]="val.RetailerId">
                        {{val.Name}}
                      </option>
                    </select>
                  </td>
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                    <td><b>Tax Category*</b></td>
                    <td colspan="3">
                      <select name="TaxCategoryId" class="form-control" [(ngModel)]="Product.TaxCategoryId">
                        <option [value]="0" selected>Select Tax Category</option>
                        <option *ngFor="let val of taxcategory" [value]="val.TaxCategoryId">
                          {{val.TaxCategory}}
                        </option>
                      </select>
                    </td>
                    <td><b>HSN Code*</b></td>
                    <td colspan="3">
                      <input type="text" class="form-control" placeholder="Enter HSN Code" name="HSNCode" 
                    [(ngModel)]="Product.HSNCode" #ProductTagsRef="ngModel">
                    </td>
                </tr>
              </tbody>
            </table>
            
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td><b>Purchase Price*</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Price" name="Cost" 
                    [(ngModel)]="Product.Cost" #CostRef="ngModel">
                  </td>
                  <td><b>MRP*</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Standard Price" name="StandardPrice" 
                    [(ngModel)]="Product.StandardPrice" #StandardPriceRef="ngModel">
                  </td>
                </tr>
                <tr>
                  <td><b>Discounted Price</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Discounted Price" name="DiscountedPrice" 
                    [(ngModel)]="Product.DiscountedPrice" #PcsRef="ngModel">
                  </td>
                  <td><b>Pcs*</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Standard Price" name="Pcs" 
                    [(ngModel)]="Product.Pcs" #PcsRef="ngModel">
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row" style="display: none;"> 
              <div class="col-sm-6">
                <div class="row form-group">
                  <div class="col-md-3">
                    <label for="ccnumber">Display Order</label>
                  </div>
                  <div class="col-md-9">
                    <input type="number" class="form-control" placeholder="Enter Display Order" name="DisplayOrder" [(ngModel)]="Product.DisplayOrder" #DisplayOrderRef="ngModel" min="0">      
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-bordered mb-0">
              <tbody>
                <tr>
                  <td><b>Item Type*</b></td>
                  <td colspan="3">
                    <input type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Veg"> Veg
                    <input type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Non Veg"> Non Veg
                    <input type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Grocery"> Grocery
                    <input type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Medicine"> Medicine
                    <input type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Other"> Other
                    <input style="display: none;" type="radio" [(ngModel)]="Product.FoodType" name="FoodType" value="Liquor">
                  </td>
                  <td><b>Featured*</b></td>
                  <td colspan="3">
                    <input type="radio" [(ngModel)]="Product.IsFeatured" name="IsFeatured" value="1"> Yes
                    <input type="radio" [(ngModel)]="Product.IsFeatured" name="IsFeatured" value="0"> No
                  </td>
                </tr>
                <tr>
                    <td><b>Free Shipping*</b></td>
                    <td colspan="3">
                      <input type="radio" [(ngModel)]="Product.IsFreeShipping" name="IsFreeShipping" value="1"> Yes
                      <input type="radio" [(ngModel)]="Product.IsFreeShipping" name="IsFreeShipping" value="0"> No
                    </td>
                    <td><b>Not Returnable*</b></td>
                    <td colspan="3">
                      <input type="radio" [(ngModel)]="Product.NotReturnable" name="NotReturnable" value="1" > Yes
                      <input type="radio" [(ngModel)]="Product.NotReturnable" name="NotReturnable" value="0" > No
                    </td>
                </tr>
                <tr>
                    <td><b>Tax Exempted*</b></td>
                    <td colspan="3">
                      <input type="radio" [(ngModel)]="Product.IsTaxExempt" name="IsTaxExempt" value="1"> Yes
                      <input type="radio" [(ngModel)]="Product.IsTaxExempt" name="IsTaxExempt" value="0"> No
                    </td>
                    <td colspan="4"></td>
                </tr>
                
              </tbody>
            </table>
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td>Cover Image</td>
                  <td colspan="3">
                    <input name="ifile" type="file" id="iname" (change)="uploadFileImage($event)">

                    <!-- <a id="lnkItemCover" runat="server" data-fancybox="gallery"> -->
                      <img src={{url}}{{imgURL}} runat="server" alt="" style="float: right; height: 150px; width: 150px;" /><br>
                      <small style="color: red;">{{messageDl}}</small>
                    <!-- </a>
                    <b><a href="#" onclick="resetImage()"><input type="hidden" id="hdnImage" runat="server" value="" />&times;</a></b> -->
                  </td>
                  <td>Cover Video</td>
                  <td colspan="3">
                    <input name="vfile" type="file" id="vname" (change)="uploadFileVideo($event)">
                    <video src={{url}}{{vidURL}} style="float: right; height: 150px; width: 150px;" controls></video><br>
                    <small style="color: red;">{{messageVl}}</small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="validateForm()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="backpage()"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
        </div>
      </div><!--/.col-->
      
    </div><!--/.row-->
  </div>





  

  <!-- <div class="row" style="display:none;">
    <div class="col-sm-3">
      <div class="row form-group">
        <div class="col-md-3">
          <label for="ccnumber">Weight</label>
        </div>
        <div class="col-md-9">
          <input type="number" class="form-control" placeholder="Enter Weight" name="Weight" 
          [(ngModel)]="Product.Weight" #WeightRef="ngModel"
          [class.is-invalid]="WeightRef.invalid && WeightRef.touched" required>
          <small class="text-danger" [class.d-none]="WeightRef.valid || WeightRef.untouched">Weight Can Not Be Blank
          </small>                  
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row form-group">
        <div class="col-md-3">
          <label for="ccnumber">Length</label>
        </div>
        <div class="col-md-9">
          <input type="number" class="form-control" placeholder="Enter Length" name="Length" 
          [(ngModel)]="Product.Length" #LengthRef="ngModel"
          [class.is-invalid]="LengthRef.invalid && LengthRef.touched" required>
          <small class="text-danger" [class.d-none]="LengthRef.valid || LengthRef.untouched">Length Can Not Be Blank
          </small>                  
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row form-group">
        <div class="col-md-3">
          <label for="ccnumber">Width</label>
        </div>
        <div class="col-md-9">
          <input type="number" class="form-control" placeholder="Enter Width" name="Width" 
          [(ngModel)]="Product.Width" #WidthRef="ngModel
          [class.is-invalid]="WidthRef.invalid && WidthRef.touched" required>
          <small class="text-danger" [class.d-none]="WidthRef.valid || WidthRef.untouched">Width Can Not Be Blank
          </small>                  
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row form-group">
        <div class="col-md-3">
          <label for="ccnumber">Height</label>
        </div>
        <div class="col-md-9">
          <input type="number" class="form-control" placeholder="Enter Width" name="Height" 
          [(ngModel)]="Product.Height" #HeightRef="ngModel"
          [class.is-invalid]="HeightRef.invalid && HeightRef.touched" required>
          <small class="text-danger" [class.d-none]="HeightRef.valid || HeightRef.untouched">Height Can Not Be Blank
          </small>                  
        </div>
      </div>
    </div>
  </div> -->



  <!-- <tr style="display: none;">
    <td>Combo</td>
    <td colspan="3">
      <input type="radio" [(ngModel)]="Product.IsCombo" name="IsCombo" value="1"> Yes
      <input type="radio" [(ngModel)]="Product.IsCombo" name="IsCombo" value="0"> No
    </td>
    <td>Show On Home Page</td>
    <td colspan="3">
      <input type="radio" [(ngModel)]="Product.IsShowOnHomePage" name="IsShowOnHomePage" value="1"> Yes
      <input type="radio" [(ngModel)]="Product.IsShowOnHomePage" name="IsShowOnHomePage" value="0"> No
    </td>
</tr>
<tr style="display: none;">
    <td>Display Stock Availability</td>
    <td colspan="3">
      <input type="radio" [(ngModel)]="Product.DisplayStockAvailability" name="DisplayStockAvailability" value="1"> Yes
      <input type="radio" [(ngModel)]="Product.DisplayStockAvailability" name="DisplayStockAvailability" value="0"> No
    </td>
    <td>Display Stock Quantity</td>
    <td colspan="3">
      <input type="radio" [(ngModel)]="Product.DisplayStockQuantity" name="DisplayStockQuantity" value="1"> Yes
      <input type="radio" [(ngModel)]="Product.DisplayStockQuantity" name="DisplayStockQuantity" value="0"> No
    </td>
</tr> -->
