nz-divider {
        color: #333;
        font-weight: normal;
      }
      .inner-box {
        background: #ab0d18;
        border-radius: 5px;
      }
      .font-35 {
        font-size: 35px;
    }
    .font-14 {
        font-size: 14px;
    }

    .font-12 {
      font-size: 13px;
  }

    .demo-chart {
      font-size: 5px;
    }

    .table-button {
      position: relative;
      top: -30px;
    }
    .demo-chart{ background: #f1f1f1; margin: 1%; }

