<!-- {{ categoryId | json }} -->

<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <h4 class="head-line"><span>Category Wise Products</span></h4>
      </div>
      <div class="col-md-6 text-right">
        
      </div>
      <div class="col-md-12">
        <nz-form-item>
          <nz-form-label class="text-left" [nzSm]="2" [nzXs]="24" nzFor="categoryid" nzRequired>
              Category
          </nz-form-label>
          <nz-form-control  [nzSm]="7" [nzXs]="24" nzErrorTip="The input is Required">
              <nz-select nzId="categoryid" name="categoryid"
                nzShowSearch 
                nzPlaceHolder="Please select category"
                [(ngModel)] = "categoryId"
                (ngModelChange)="getProductsByCategory($event)"
              >
                <nz-option *ngFor="let c of categories" [nzValue]="c._id" [nzLabel]="c.categoryName"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-md-12" *ngIf="categoryId">
        <nz-table nzShowSizeChanger [nzData]="products" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
          [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event);">
          <thead>
            <tr>
              <th nzColumnKey="name" [nzSortFn]="true">Product Name</th>
              <!-- <th nzColumnKey="category" [nzSortFn]="true">Category</th> -->
              <th nzColumnKey="description" [nzSortFn]="true">Description</th>
              <th nzColumnKey="packetSize" [nzSortFn]="true">Packet Size</th>
              <th nzColumnKey="priceOne" [nzSortFn]="true">Price One</th>
              <th nzColumnKey="priceTwo" [nzSortFn]="true">Price Two</th>
              <th nzColumnKey="priceThree" [nzSortFn]="true">Price Three</th>
              <th nzColumnKey="commission" [nzSortFn]="true">Commission</th>
              <th>Image</th>
              <th nzColumnKey="isActive" [nzSortFn]="true">Is Active</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of products">
              <tr>
                <td>{{ product.name }}</td>
                <!-- <td>{{ product.categoryid.categoryName }}</td> -->
                <td>{{ product.description }}</td>
                <td>{{ product.packetSize }}</td>
                <td>{{ product.priceOne }}</td>
                <td>{{ product.priceTwo }}</td>
                <td>{{ product.priceThree }}</td>
                <td>{{ product.commission }}%</td>
                <td><img src="{{ product.image }}"/> </td>
                <td class="text-center">
                  <span [ngSwitch]="product.isActive">
                    <span *ngSwitchCase="'1'" class="text-green">
                      <i nz-icon nzType="check" nzTheme="outline"></i>
                    </span>
                    <span *ngSwitchCase="'0'" class="text-red">
                      <i nz-icon nzType="close" nzTheme="outline"></i>
                    </span>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
      <div class="col-md-12" *ngIf="!categoryId">
        <div class="well">
          <p class="text-center">Please select category</p>
        </div>
      </div>
    </div>
  </div>
