<div class="col-lg-12">
  <div class="card">

      <div class="card-header">
        <strong>Orders</strong>
      </div>
      <div class="card-body">
        <!--/.row-->
        <div class="row">
          <div class="col-sm-6">
            <div class="row form-group">
              <label class="col-md-3 col-form-label text-right">Order</label>
              <div class="col-md-9">
                <input type="text" class="form-control" placeholder="Enter Order No" #categoryname />
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <button type="button"  class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i>
          Search
        </button>

      </div>

  </div>

  <div class="card">

    <div class="card-body">


        <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>OrderNo</th>
            <th>OrderedOn</th>
            <th>Customer</th>
            <th>Address</th>
             <th>OrderStatus</th>
            <th>PaymentMode</th>
            <th>SubTotal</th>
            <th>TaxRate</th>
            <th>TaxAmt</th>
            <th>Driver</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataval of data">
            <td>{{dataval.OrderNo}}</td>
            <td>{{dataval.OrderedOn}}</td>
            <td>{{dataval.CustomerId}}</td>
            <td>{{dataval.AddressId}}</td>
            <td>{{dataval.OrderStatusId}}</td>
            <td>{{dataval.PaymentModeId}}</td>
            <td>{{dataval.SubTotal}}</td>
            <td>{{dataval.TaxRate}}</td>
            <td>{{dataval.TaxAmt}}</td>
            <td>{{dataval.DriverId}}</td>
            <td>
              <span class="text-danger pointer" (click)="mapdriver(dataval.OrderId)">Save</span>
             </td>
          </tr>




        </tbody>

      </table>

    </div>
  </div>
</div>
