<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #miscForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td>Default Disc. Rate</td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="DefaultDiscountRate"
                    [(ngModel)]="DefaultDiscountRate" #nameRef="ngModel"
                    [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
                  <td>Special Disc. Rate</td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="SpecialDiscountRate"
                    [(ngModel)]="SpecialDiscountRate" #nameRef="ngModel"
                    [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
                </tr>
                <tr>
                    <td>Default Tax Rate</td>
                    <td colspan="3">
                      <input type="number" class="form-control" placeholder="Enter Value" name="DefaultTaxRate"
                      [(ngModel)]="DefaultTaxRate" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                    </td>
                    <td>Special Tax Rate</td>
                    <td colspan="3">
                      <input type="number" class="form-control" placeholder="Enter Value" name="SpecialTaxRate"
                      [(ngModel)]="SpecialTaxRate" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                    </td>
                </tr>
                <tr>
                    <td><b>Default Delivery Charge</b></td>
                    <td colspan="3">
                      <input type="number" class="form-control" placeholder="Enter Value" name="DefaultDeliveryCharge"
                      [(ngModel)]="DefaultDeliveryCharge" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                    </td>
                    <td><b>Special Delivery Charge</b></td>
                    <td colspan="3">
                      <input type="number" class="form-control" placeholder="Enter Value" name="SpecialDeliveryRate"
                      [(ngModel)]="SpecialDeliveryRate" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                    </td>
                </tr>
                <tr style="display: none;">
                  <td>Welcome Wallet Amount</td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="WelcomeWalletAmt"
                      [(ngModel)]="WelcomeWalletAmt" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
                  <td>Wallet Deduction Rate on Order</td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="WalletDeductionRateOnOrder"
                      [(ngModel)]="WalletDeductionRateOnOrder" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
              </tr>
                <tr>
                  <td><b>Order Comm Rate For OA</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="OrderReturnCommRateOA"
                      [(ngModel)]="OrderReturnCommRateOA" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
                  <td><b>Order Comm Rate For NOA</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="OrderReturnCommRateNOA"
                    [(ngModel)]="OrderReturnCommRateNOA" #nameRef="ngModel"
                    [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
              </tr>
              <tr>
                  <td><button type="button" class="btn btn-success" (click)="updateValues()">Update</button></td>
                  <td style="display: none;" colspan="3"></td>
                  <td style="display: none;">Reference By Add</td>
                  <td style="display: none;" colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Value" name="RefByAddCommRate"
                    [(ngModel)]="RefByAddCommRate" #nameRef="ngModel"
                    [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">This is required field</small>
                  </td>
              </tr>
              </tbody>
            </table>            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
