<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="row form-group">
            <label for="" class="col-md-3 col-form-label text-right">Vehicle</label>
            <div class="col-md-9">
              <input type="number" class="form-control" [(ngModel)]="vehicleId" placeholder="Enter Vehicle ID">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="getVehicleById()" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>
            Search
          </button>
          <button type="button" (click)="onAddVehicle()" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            Add
          </button>
        </div>
      </div>

      <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="data" #mf="mfDataTable">
        <thead>
          <tr>
            <th width="7%">Image</th>
            <th><mfDefaultSorter by="VehicleClass">Vehicle Class</mfDefaultSorter></th>
            <th><mfDefaultSorter by="RegistrationNo">Registration No.</mfDefaultSorter></th>
            <th><mfDefaultSorter by="VehicleBrand">Vehicle Brand</mfDefaultSorter></th>
            <th><mfDefaultSorter by="EngineCC">Engine(CC)</mfDefaultSorter></th>
            <th><mfDefaultSorter by="FuelType">Fuel Type</mfDefaultSorter></th>
            <th class="text-center" width="7%"><mfDefaultSorter by="IsActive">Status</mfDefaultSorter></th>
            <th class="text-center" width="7%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of data">
            <td><img class="display-img" alt="No Image" src="{{ items.VehiclaImage }}"></td>
            <td>{{ items.VehicleClass }}</td>
            <td>{{ items.RegistrationNo }}</td>
            <td>{{ items.VehicleBrand }}</td>
            <td>{{ items.EngineCC}}</td>
            <td>{{ items.FuelType }}</td>
            <td class="text-center">
              <i class="fa fa-check fa-lg text-success pointer" *ngIf="items.IsActive == 1; else elseSpan" (click)="onStatus(items.VehicleId, '0')"></i>
                <ng-template #elseSpan>
                  <i class="fa fa-close fa-lg text-danger pointer" (click)="onStatus(items.VehicleId, 1)"></i>
                </ng-template>
            </td>
            <td class="text-center">
              <a class="btn btn-sm btn-warning" [routerLink]="['edit', items.VehicleId]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
