<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form #customerForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div class="card-header">
                        <h5><strong *ngIf="Customer.Name != '' && Customer.Name != null">{{Customer.Name}}'s Info!</strong>
                            <button type="button" class="btn btn-sm btn-secondary pull-right" [routerLink]="['/customer-list']"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button> &nbsp;
                            <button type="reset" class="btn btn-sm btn-danger pull-right"><i class="fa fa-ban"></i> Reset</button> &nbsp;
                            <button type="submit" class="btn btn-sm btn-primary pull-right" [disabled]="customerForm.invalid"><i class="fa fa-dot-circle-o"></i> Submit</button> 
                        </h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped mb-0">
                            <tbody>
                              <tr>
                                <td rowspan="5">
                                  <img src={{url}}{{imgURL}} runat="server" alt="" style="float: right; height: 160px; width: 100%;" /><br>
                                  <input type="file" name="image" (change)="getFileInfo($event)">
                                  <small style="color: red;">{{messageDl}}</small>
                                </td>
                              </tr>
                              <tr>
                                <td>Type</td>
                                <td colspan="3">
                                    <input type="radio" [(ngModel)]="Customer.CustomerType" name="CustomerType" value="1"> Individual
                                    <input type="radio" [(ngModel)]="Customer.CustomerType" name="CustomerType" value="2"> Corporate
                
                                    <input type="hidden" name="hdnLinkFlag" [(ngModel)]="Customer.CustomerType" #CustomerTypeRef="ngModel"  
                                    [class.is-invalid]="CustomerTypeRef.invalid && CustomerTypeRef.touched" required />
                                    <small class="text-danger" [class.d-none]="CustomerTypeRef.valid || CustomerTypeRef.untouched">Select Type
                                    </small>
                                </td>
                                <td><b>Name</b></td>
                                <td colspan="3">
                                    <input type="text" class="form-control text-danger" style="font-weight:bold;" name="name" [(ngModel)]="Customer.Name"
                                        #nameRef="ngModel" [class.is-invalid]="nameRef.invalid && nameRef.touched"
                                        placeholder="Enter Name" required>
                                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                                    </small>
                                </td>
                              </tr>
                              <tr>
                                  <td><b>Phone</b></td>
                                  <td colspan="3">
                                    <input type="tel" class="form-control text-danger" style="font-weight:bold;" autocomplete="off" placeholder="Enter Phone"
                                        name="Phone" [(ngModel)]="Customer.Phone" #phoneRef="ngModel" maxlength="10"
                                        [class.is-invalid]="phoneRef.invalid && phoneRef.touched" pattern="^.{10,}$"
                                        required />
                                    <div *ngIf="phoneRef.errors && (phoneRef.invalid && phoneRef.touched)">
                                        <small class="text-danger" *ngIf="phoneRef.errors.required">Phone is required</small>
                                        <small class="text-danger" *ngIf="phoneRef.errors.pattern">Phone Number should be of minimum 10 digits</small>
                                    </div>
                                  </td>
                                  <td>Email</td>
                                  <td colspan="3">
                                    <input type="text" class="form-control" name="email" placeholder="Enter Email"
                                        [(ngModel)]="Customer.Email" #emailRef="ngModel" [class.is-invalid]="emailRef.invalid && emailRef.touched"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />

                                    <div *ngIf="emailRef.errors && (emailRef.invalid && emailRef.touched)">
                                        <small class="text-danger" *ngIf="emailRef.errors.required">Email is required</small>
                                        <small class="text-danger" *ngIf="emailRef.errors.pattern">Invalid Email</small>
                                    </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Default Landmark</td>
                                  <td colspan="3">
                                    <input type="text" class="form-control" name="DefaultLandmark"
                                        placeholder="Enter Default Landmark" [(ngModel)]="Customer.DefaultLandmark">
                                  </td>
                                  <td>Default Pincode</td>
                                  <td colspan="3">
                                    <input type="text" class="form-control" placeholder="Enter Pincode" maxlength="6"
                                        name="DefaultPincode" [(ngModel)]="Customer.DefaultPincode">
                                  </td>
                              </tr>
                              <tr>
                                <td>Ref Code</td>
                                <td colspan="3">
                                    <input type="text" class="form-control" placeholder="Enter Ref Code" name="RefCode" [(ngModel)]="Customer.RefCode">
                                </td>
                                <td>Default Address</td>
                                <td colspan="3">
                                    <textarea id="textarea-input" name="DefaultAddress" class="form-control" [(ngModel)]="Customer.DefaultAddress"></textarea>
                                </td>
                            </tr>
                            </tbody>
                          </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--/.row-->


<div class="row">
    <div class="col-lg-12" *ngIf="addressdata!=null">
        <div class="card">
          <div class="card-header">
              <h5>Address!</h5>
          </div>
          <div class="card-body" style="max-height:200px; overflow: auto;">
            <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="addressdata" #mf="mfDataTable">
              <thead>
                <tr>
                  <th><mfDefaultSorter by="AddressName">Type</mfDefaultSorter></th>
                  <th colspan="2"><mfDefaultSorter by="Name">Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="Phone">Phone</mfDefaultSorter></th>
                  <th colspan="2"><mfDefaultSorter by="Email">Email</mfDefaultSorter></th>
                  <th colspan="3"><mfDefaultSorter by="Address">Address</mfDefaultSorter></th>
                  <th colspan="2"><mfDefaultSorter by="Landmark">Landmark</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="Pincode">Pincode</mfDefaultSorter></th>
                  <th colspan="4"><mfDefaultSorter by="Location">Location</mfDefaultSorter></th>
                  <th width="9%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of addressdata">
                  <td>{{val.AddressName}}</td>
                  <td colspan="2">{{val.Name}}</td>
                  <td>{{val.Phone}}</td>
                  <td colspan="2">{{val.Email}}</td>
                  <td colspan="3">{{val.Address}}</td>
                  <td colspan="2">{{val.Landmark}}</td>
                  <td>{{val.Pincode}}</td>
                  <td colspan="4">{{val.Location}}</td>
                  <td>
                    <a class="btn btn-info btn-sm" (click)="myModal.show(); getAddressbyid(val.AddressId, val.AddressName, val.Name, val.Phone, val.Address, val.Email, val.Landmark)" style="cursor: pointer;">
                      <i class="fa fa-pencil-square-o"></i>  Edit</a> 
                    <a class="btn btn-danger btn-sm" (click)="onDelete(val.AddressId)" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Address type {{Customeraddress.AddressName}}'s Detail</h4>
                  <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="animated fadeIn">
                    <div class="card table-wrapper-scroll-y my-custom-scrollbar">
                      <form #addressForm="ngForm" (ngSubmit)="onSubmitaddress(); myModal.hide()">
                        <table class="table table-bordered table-striped mb-0">
                          <tbody>
                            <tr>
                              <td>Type</td>
                              <td>
                                  <input type="text" class="form-control" name="AddressName" [(ngModel)]="Customeraddress.AddressName"
                                  #addnameRef="ngModel" [class.is-invalid]="addnameRef.invalid && addnameRef.touched"
                                  placeholder="Enter Name" required>
                                <small class="text-danger" [class.d-none]="addnameRef.valid || addnameRef.untouched">AddressName is required
                                </small>
                              </td>
                              <td>Name</td>
                              <td>
                                <input type="text" class="form-control" name="Name" [(ngModel)]="Customeraddress.Name"
                                  #nameRef="ngModel" [class.is-invalid]="nameRef.invalid && nameRef.touched" placeholder="Enter Name"
                                  required>
                                <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                                </small>
                              </td>
                            </tr>
      
                            <tr>
                              <td>Phone</td>
                              <td>
                                <input type="text" class="form-control" name="Phone" [(ngModel)]="Customeraddress.Phone"
                                  #phoneRef="ngModel" [class.is-invalid]="phoneRef.invalid && phoneRef.touched" placeholder="Enter Name"
                                  required>
                                <small class="text-danger" [class.d-none]="phoneRef.valid || phoneRef.untouched">Phone is required
                                </small>
                              </td>
                              <td>Address</td>
                              <td>
                                <input type="text" class="form-control" name="Address" [(ngModel)]="Customeraddress.Address"
                                  #addrRef="ngModel" [class.is-invalid]="addrRef.invalid && addrRef.touched" placeholder="Enter Name"
                                  required>
                                <small class="text-danger" [class.d-none]="addrRef.valid || addrRef.untouched">Address is required
                                </small>
                              </td>
                            </tr>
      
                            <tr>
                              <td>Email</td>
                              <td>
                                <input type="text" class="form-control" name="Email" [(ngModel)]="Customeraddress.Email"
                                  #emailRef="ngModel" [class.is-invalid]="emailRef.invalid && emailRef.touched" placeholder="Enter Name"
                                  required>
                                <small class="text-danger" [class.d-none]="emailRef.valid || emailRef.untouched">Email is required
                                </small>
                              </td>
                              <td>Landmark</td>
                              <td>
                                <input type="text" class="form-control" name="Landmark" [(ngModel)]="Customeraddress.Landmark"
                                  #landRef="ngModel" [class.is-invalid]="landRef.invalid && landRef.touched" placeholder="Enter Name"
                                  required>
                                <small class="text-danger" [class.d-none]="landRef.valid || landRef.untouched">Landmark is required
                                </small>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2"></td>
                              <td colspan="2">
                                <button type="submit" [disabled]="addressForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>  
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>

    
    <div class="col-md-6" *ngIf="orderdata!=null">
      <div class="card">
        <div class="card-header">
            <h5>Orders!</h5>
        </div>
        <div class="card-body" style="height:200px; overflow: auto;">
          <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="orderdata" #mf="mfDataTable">
            <thead>
              <tr>
                <th width="15%"><mfDefaultSorter by="OrderNo">Order #</mfDefaultSorter></th>
                <th width="10%"><mfDefaultSorter by="OrderedOn">On</mfDefaultSorter></th>
                <th><mfDefaultSorter by="OrderStatus">Status</mfDefaultSorter></th>
                <th width="6%"><mfDefaultSorter by="OrderTotal">Total</mfDefaultSorter></th>
                <th colspan="4"><mfDefaultSorter by="OrderDetail">Order Detail</mfDefaultSorter></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of orderdata">
                <td>{{val.OrderNo}}</td>
                <td>{{val.OrderedOn | date: 'dd-MM-yyyy'}}</td>
                <td>
                  <!-- {{val.OrderStatus}} -->
                  <h5><span class="badge badge-warning" *ngIf="val.OrderStatusId == 1;">Pending</span></h5>
                  <h5><span class="badge badge-primary" *ngIf="val.OrderStatusId == 2;">Processing</span></h5>
                  <h5><span class="badge badge-success" *ngIf="val.OrderStatusId == 3;">Complete</span></h5>
                  <h5><span class="badge badge-danger" *ngIf="val.OrderStatusId == 4;">Cancelled</span></h5>
                </td>
                <td>{{val.OrderTotal}}</td>
                <td colspan="4">{{val.OrderDetail}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="cartdata!=null">
      <div class="card">
        <div class="card-header">
            <h5>Abondone Cart!</h5>
        </div>
        <div class="card-body" style="height:200px; overflow: auto;">       
          <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="cartdata" #mf="mfDataTable">
            <thead>
              <tr>
                <th width="10%"><mfDefaultSorter by="CoverImage">Image</mfDefaultSorter></th>
                <th><mfDefaultSorter by="Name">Name</mfDefaultSorter></th>
                <th width="10%"><mfDefaultSorter by="Quantity">Quantity</mfDefaultSorter></th>
                <th width="9%"><mfDefaultSorter by="Price">Price</mfDefaultSorter></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of cartdata">
                <td><img class="displayimage" alt="No Image" src={{produrl}}{{val.CoverImage}} /></td>
                <td>{{val.Name}}</td>
                <td>{{val.Quantity}}</td>
                <td>{{val.Price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-md-6" *ngIf="walletdata!=null">
        <div class="card">
          <div class="card-header">
              <h5>Wallet!
                <b class="danger pull-right">Total Amount: &#8377; {{Customer.TotalWalletAmt}}</b>
              </h5>
          </div>
          <div class="card-body" style="height:200px; overflow: auto;">
            <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="walletdata" #mf="mfDataTable">
                <thead>
                  <tr>
                    <th><mfDefaultSorter by="Amount">Amount (+ / -)</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="TranOn">On</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="CustomerFrom">From</mfDefaultSorter></th>
                    <th width="24%"><mfDefaultSorter by="OrderNo">Order #</mfDefaultSorter></th>
                    <th><mfDefaultSorter by="OrderTotal">Order Amt</mfDefaultSorter></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let val of walletdata">
                    <td>
                      <b *ngIf="val.Amount < 0" style="color: green;">&#8377; {{val.Amount}}</b>
                      <b *ngIf="val.Amount > 0" style="color: red;">&#8377; {{val.Amount}}</b>
                    </td>
                    <td>
                      <b *ngIf="val.Amount < 0" style="color: green;"> {{val.TranOn | date: 'dd-MM-yyyy'}}</b>
                      <b *ngIf="val.Amount > 0" style="color: red;"> {{val.TranOn | date: 'dd-MM-yyyy'}}</b>                      
                    </td>
                    <td>
                      <b *ngIf="val.Amount < 0" style="color: green;"> {{val.CustomerFrom}}</b>
                      <b *ngIf="val.Amount > 0" style="color: red;"> {{val.CustomerFrom}}</b>
                    </td>
                    <td>
                      <b *ngIf="val.Amount < 0" style="color: green;"> {{val.OrderNo}}</b>
                      <b *ngIf="val.Amount > 0" style="color: red;"> {{val.OrderNo}}</b>
                    </td>
                    <td>                      
                      <b *ngIf="val.Amount < 0" style="color: green;"> {{val.OrderTotal}}</b>
                      <b *ngIf="val.Amount > 0" style="color: red;">&#8377; {{val.OrderTotal}}</b>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="id > 0 && bankData!=null">
        <div class="card">
          <div class="card-header">
              <h5>Bank Account!
                <button type="reset" class="btn btn-sm btn-danger pull-right" *ngIf="Customer.TotalWalletAmt > 0" [disabled]="bankData.length < 1 || PayAmount < 1 || PayAmount > Customer.TotalWalletAmt" (click)="UpdateWalletPayment()"><i class="fa fa-paypal"></i> Pay Customer</button> 
            </h5>
          </div>
          <div class="card-body" style="height:200px; overflow: auto;">       
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td>Bank</td>
                  <td colspan="2"><b>{{bankData.BankName}}</b></td>
                  <td>A/c No</td>
                  <td colspan="2"><b>{{bankData.AccountNo}}</b></td>
                </tr>
                <tr>
                    <td>IFSC</td>
                    <td colspan="2"><b>{{bankData.IFSC}}</b></td>
                    <td>A/c Holder</td>
                    <td colspan="2"><b>{{bankData.AccountHolderName}}</b></td>
                </tr>
                <tr>
                    <td>A/c Holder Phone</td>
                    <td colspan="2">{{bankData.AccountHolderPhone}}</td>
                    <td>Wallet Amount</td>
                    <td colspan="2"><b>&#8377; {{Customer.TotalWalletAmt}}</b></td>
                </tr>
                <tr *ngIf="Customer.TotalWalletAmt > 0">
                    <td>Pay Amount</td>
                    <td colspan="2">
                        <input type="number" class="form-control text-danger" style="font-weight:bold;" placeholder="Enter Amount" min="0" name="PayAmt" [(ngModel)]="PayAmount">
                    </td>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>

</div>