<div class="col-lg-12">
  <div class="card">

      <div class="card-header">
        <strong>Address</strong>
      </div>
      <div class="card-body">
        <form #addressForm="ngForm" (ngSubmit)="onSubmitaddress()">
          <div class="card-header">
            <strong>Details</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="name">AddressName <span class="required">*</span></label>
              <input type="text" class="form-control" name="AddressName" [(ngModel)]="Customeraddress.AddressName"
                  #addnameRef="ngModel" [class.is-invalid]="addnameRef.invalid && addnameRef.touched"
                  placeholder="Enter Name" required>
              <small class="text-danger" [class.d-none]="addnameRef.valid || addnameRef.untouched">AddressName
                  is
                  required
              </small>
          </div>
          <div class="form-group">
            <label for="name">Name <span class="required">*</span></label>
            <input type="text" class="form-control" name="Name" [(ngModel)]="Customeraddress.Name"
                #nameRef="ngModel" [class.is-invalid]="nameRef.invalid && nameRef.touched"
                placeholder="Enter Name" required>
            <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name
                is
                required
            </small>
        </div>
        <div class="form-group">
          <label for="name">Phone <span class="required">*</span></label>
          <input type="text" class="form-control" name="Phone" [(ngModel)]="Customeraddress.Phone"
              #phoneRef="ngModel" [class.is-invalid]="phoneRef.invalid && phoneRef.touched"
              placeholder="Enter Name" required>
          <small class="text-danger" [class.d-none]="phoneRef.valid || phoneRef.untouched">Phone
              is
              required
          </small>
      </div>
      <div class="form-group">
        <label for="name">Address <span class="required">*</span></label>
        <input type="text" class="form-control" name="Address" [(ngModel)]="Customeraddress.Address"
            #addrRef="ngModel" [class.is-invalid]="addrRef.invalid && addrRef.touched"
            placeholder="Enter Name" required>
        <small class="text-danger" [class.d-none]="addrRef.valid || addrRef.untouched">Address
            is
            required
        </small>
    </div>
        <div class="form-group">
          <label for="name">Email <span class="required">*</span></label>
          <input type="text" class="form-control" name="Email" [(ngModel)]="Customeraddress.Email"
              #emailRef="ngModel" [class.is-invalid]="emailRef.invalid && emailRef.touched"
              placeholder="Enter Name" required>
          <small class="text-danger" [class.d-none]="emailRef.valid || emailRef.untouched">Email
              is
              required
          </small>
      </div>
      <div class="form-group">
        <label for="name">Landmark <span class="required">*</span></label>
        <input type="text" class="form-control" name="Landmark" [(ngModel)]="Customeraddress.Landmark"
            #landRef="ngModel" [class.is-invalid]="landRef.invalid && landRef.touched"
            placeholder="Enter Name" required>
        <small class="text-danger" [class.d-none]="landRef.valid || landRef.untouched">Landmark
            is
            required
        </small>
    </div>
    <div class="form-group">
      <label for="name">Pincode <span class="required">*</span></label>
      <input type="text" class="form-control" name="Pincode" [(ngModel)]="Customeraddress.Pincode"
          #pinRef="ngModel" [class.is-invalid]="pinRef.invalid && pinRef.touched"
          placeholder="Enter Name" required>
      <small class="text-danger" [class.d-none]="pinRef.valid || pinRef.untouched">Pincode
          is
          required
      </small>
  </div>
  <div class="form-group">
    <label for="name">Location <span class="required">*</span></label>
    <input type="text" class="form-control" name="Location" [(ngModel)]="Customeraddress.Location"
        #locRef="ngModel" [class.is-invalid]="locRef.invalid && locRef.touched"
        placeholder="Enter Name" required>
    <small class="text-danger" [class.d-none]="locRef.valid || locRef.untouched">Location
        is
        required
    </small>
</div>
<div class="form-group">
  <label for="name">Lat <span class="required">*</span></label>
  <input type="text" class="form-control" name="Lat" [(ngModel)]="Customeraddress.Lat"
      #latRef="ngModel" [class.is-invalid]="latRef.invalid && latRef.touched"
      placeholder="Enter Name" required>
  <small class="text-danger" [class.d-none]="latRef.valid || latRef.untouched">Lat
      is
      required
  </small>
</div>
<div class="form-group">
<label for="name">Long <span class="required">*</span></label>
<input type="text" class="form-control" name="Long" [(ngModel)]="Customeraddress.Long"
    #longRef="ngModel" [class.is-invalid]="longRef.invalid && longRef.touched"
    placeholder="Enter Name" required>
<small class="text-danger" [class.d-none]="longRef.valid || longRef.untouched">Long
    is
    required
</small>
</div>


          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="addressForm.invalid" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i>
              Submit
            </button>


          </div>
        </form>
      </div>



  </div>

  <div class="card">

    <div class="card-body">


        <table class="table">
          <thead>
            <tr>
              <th>AddressName</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Landmark</th>
              <th>Pincode</th>
              <th>Location</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let val of addressdata">
              <td>{{val.AddressName}}</td>
              <td>{{val.Name}}</td>
              <td>{{val.Phone}}</td>
              <td>{{val.Address}}</td>
              <td>{{val.Landmark}}</td>
              <td>{{val.Pincode}}</td>
              <td>{{val.Location}}</td>
              <td>{{val.Latitude}}</td>
              <td>{{val.Longitude}}</td>
               <td>
      <a (click)="getAddressbyid(val.AddressId)">Edit</a>
      &nbsp;&nbsp;
      <span class="text-danger pointer" (click)="onDelete(val.AddressId)">Delete</span>
    </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>
