<div class="col-lg-12">
  <div class="card">

    <div class="card-header">
      <strong>Customer </strong>
    </div>
    <div class="card-body">
      <!--/.row-->
      <div class="row">
        <div class="col-sm-6">
          <div class="row form-group">
            <label class="col-md-3 col-form-label text-right">Customer</label>
            <div class="col-md-9">
              <input type="text" class="form-control" placeholder="Enter Customer" #customername />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <button type="button" (click)="search(customername.value)" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i>
        Search
      </button>

    </div>

  </div>

  <div class="card">

    <div class="card-body">
      <div class="pull-right text-right" style="padding: 10px; margin-bottom: 0;"><button type="button"
          class="btn btn-info" (click)="addCustomer()">
          <i class="fa fa-plus"></i>
          Add
        </button></div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Phone No</th>
            <th>Email</th>
            <th>Address</th>
            <th>Status</th>
            <th>Profile Image</th>
            <th>Cart</th>
            <th>Order</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataval of data">
            <td>{{dataval.Name}}</td>
            <td>{{dataval.Phone}}</td>
            <td>{{dataval.Email}}</td>
            <td><i class="fa fa-home" aria-hidden="true" [routerLink]="['address', dataval.CustomerId]"></i></td>
            <td>
              <span class="text-success pointer" *ngIf="dataval.IsActive == 1; else elseSpan"
                (click)="onStatus(dataval.CustomerId, '0')">Active</span>
              <ng-template #elseSpan>
                <span class="text-danger pointer" (click)="onStatus(dataval.CustomerId, 1)">Inactive</span>
              </ng-template>
            </td>
            <td><img class="displayimage" alt="No Image" src={{url}}{{dataval.ProfileImage}} /></td>

            <td><i class="fa fa-shopping-cart" aria-hidden="true" (click)="myModal.show()" (click)="GetCustomerCart(dataval.CustomerId)"></i></td>
            <td><i class="fa fa-first-order" aria-hidden="true" (click)="myModal1.show()" (click)="GetCustomerOrder(dataval.CustomerId)"></i></td>
            <td>
              <a [routerLink]="['edit', dataval.CustomerId]">Edit</a>
              &nbsp;&nbsp;
              <span class="text-danger pointer" (click)="onDelete(dataval.CustomerId)">Delete</span>
            </td>
          </tr>
        </tbody>

      </table>
      <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Cart</h4>
            <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="animated fadeIn">
              <div class="card">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                       <th>ShortDescription</th>
                      <th>CoverImage</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>IsSpecial</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let val of cartdata">
                      <td>{{val.Name}}</td>
                      <td>{{val.ShortDescription}}</td>
                      <td>{{val.CoverImage}}</td>
                      <td>{{val.Quantity}}</td>
                      <td>{{val.Price}}</td>
                      <td>{{val.IsSpecial}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div bsModal #myModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Orders</h4>
          <button type="button" class="close" (click)="myModal1.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="animated fadeIn">
            <div class="card">
              <table class="table">
                <thead>
                  <tr>
                    <th>OrderDetail</th>
                     <th>OrderNo</th>
                    <th>OrderStatus</th>
                    <th>OrderTotal</th>
                    <th>OrderedOn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let val of orderdata">
                    <td>{{val.OrderDetail}}</td>
                    <td>{{val.OrderNo}}</td>
                    <td>{{val.OrderStatus}}</td>
                    <td>{{val.OrderTotal}}</td>
                    <td>{{val.OrderedOn}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
    </div>
  </div>
</div>
