<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <h4 class="head-line"><span>Banner</span></h4>
      </div>
      <div class="col-md-6 text-right">
        <button style="margin-bottom: 10px;" nz-button nzType="primary" type="button" [routerLink]="['add']"
          *ngIf="userRole[1]"><i class="fa fa-plus"></i> Add 
        </button>
      </div>
  
      <div class="col-md-12">
        <nz-table nzShowSizeChanger [nzData]="allBanners" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
          [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event); getAllBanners();">
          <thead>
            <tr>
              <th nzColumnKey="name" [nzSortFn]="true">Name</th>
              <th nzColumnKey="remarks" [nzSortFn]="true">Remarks</th>
              <th>Image</th>
              <th nzColumnKey="displayOrder" [nzSortFn]="true">Display Order</th>
              <th nzColumnKey="isHead" [nzSortFn]="true" class="text-center">Is Head</th>
              <th nzColumnKey="isActive" [nzSortFn]="true" class="text-center">Is Active</th>
              <!-- <th>Created Date</th> -->
              <th *ngIf="userRole[2]"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let banner of allBanners">
              <tr>
                <td>{{ banner.name }}</td>
                <td>{{ banner.remarks }}</td>
                <td><img src="{{ banner.image }}" width="90"/> </td>
                <td>{{ banner.displayOrder }}</td>
                <td>
                  <span [ngSwitch]="banner.isHead">
                    <span *ngSwitchCase="true" class="text-green">
                      <i nz-icon nzType="check" nzTheme="outline"></i>
                    </span>
                    <span *ngSwitchCase="false" class="text-red">
                      <i nz-icon nzType="close" nzTheme="outline"></i>
                    </span>
                  </span>
                </td>
                <td class="text-center">
                  <span *ngIf="banner.isActive" class="text-green">
                    <i nz-icon nzType="check" nzTheme="outline"></i>
                  </span>
                  <span *ngIf="!banner.isActive" class="text-red">
                    <i nz-icon nzType="close" nzTheme="outline"></i>
                  </span>
                </td>
                <!-- <td>{{ banner.createdDate | date:"dd-MM-yyyy hh:mm aaaa" }}</td> -->
                <td *ngIf="userRole[2]"><a [routerLink]="['edit', banner._id]" *ngIf="userRole[2]">
                    <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit" nzTheme="twotone"
                      style="margin-right: 6px;"></i>
                  </a></td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>