
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class=" row justify-content-center">
      <div class="col-md-8">
      <div class="card-group login-page-card-group">
      
        <div class="card text-white bg-primary-login rounded-start py-5" [ngStyle]="{'width.%': 100}">
          <div class="card-body text-center">
          <img class="logo-img" src="../../../assets/img/logo.png" alt="logo" />
          </div>
      </div>
      
<div class="card border-light rounded-end p-4">
  <div class="card-body">
   
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="mb-3">
      <div class="form-label-group">
        <!-- <label for="inputEmail">Username</label> -->
        <input type="text" id="email" class="form-control form-control-sm" placeholder="Username" [(ngModel)]="username"
          name="username" required />
      </div>
    </div>
    <div class="mb-3">
      <div class="form-label-group">
        <!-- <label for="inputPassword">Password</label> -->
        <input  type="password" id="password"  class="form-control form-control-sm" placeholder="Password" [(ngModel)]="password"
          name="password" required />
          
      </div>
      </div>
      <!-- <button class="btn" type="button" (click)="forgotPassButton()">
        Forget Password
      </button> -->
      <button class="btn btn-primary" type="submit"
        [disabled]="!loginForm.valid">
        Sign in
      </button>
      
    </form>
  </div>
  </div>
      </div> 
  </div>
</div>
</div>
