<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #driverForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td rowspan="4">
                    <img src={{url}}{{imgURL}} runat="server" alt="" style="float: right; height: 80px; width: 100%;" /><br>
                    <input name="file" type="file" id="name" (change)="uploadFile($event)">
                    <small style="color: red;">{{messageDl}}</small>
                  </td>
                </tr>
                <tr>
                  <td><b>Name*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Name" name="name"
                      [(ngModel)]="Driver.Name" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                    </small>
                  </td>
                  <td><b>Phone*</b></td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Phone" name="Phone"
                      [(ngModel)]="Driver.Phone" #phoneRef="ngModel"
                      [class.is-invalid]="phoneRef.invalid && phoneRef.touched" required />
                    <small class="text-danger" [class.d-none]="phoneRef.valid || phoneRef.untouched">Phone is required
                    </small>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Email" name="Email"
                      [(ngModel)]="Driver.Email" />
                  </td>
                  <td>Landmark</td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Landmark" name="Landmark"
                      [(ngModel)]="Driver.Landmark" />
                  </td>
                </tr>
                <tr>
                  <td>Pincode</td>
                  <td colspan="3">
                    <input type="number" class="form-control" placeholder="Enter Pincode" name="Pincode"
                      [(ngModel)]="Driver.Pincode" />
                  </td>
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="driverForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="backpage()"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
