<div class="col-lg-12">

    <div class="card">
      <div class="card-body">
  
        <div class="row">
          <div class="col-sm-6">
            <div class="row form-group">
              <label for="cms-data" class="col-md-3 col-form-label text-right"> Search :</label>
              <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-12 col-md-5 form-group">
                      <input type="text"
                             placeholder="03/07/2021 to 03/20/2021"
                             class="form-control"
                             bsDaterangepicker 
                             required                             
                            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
                            [(ngModel)]="daterangepickerModel">
                            <span class="text-center"  style="color:red;font-size: 10px;">Search by date</span>
                    </div>

                    <div class="col-xs-12 col-12 col-md-4 form-group">
                      <select name="event" [(ngModel)]="deliveryId"  class="form-control col-md-12 col-offset-3 ">
                        <option value="{{driver.DriverId}}" *ngFor="let driver of drivers" >
                          {{driver.Name}}
                        </option>
                                 
                      </select>
                      <span class="text-center"  style="color:red;font-size: 10px;">Search by delivery boy</span>
                      <!-- <input type="text" class="form-control"
                            required
                            [(ngModel)]="deliveryId">
                            <span class="text-center" style="color:red;font-size: 10px;">Search By Delivery</span> -->
                    </div>
                    <div class="col-md-3">
                      <button type="button" (click)="getData()" class="btn btn-xs btn-primary">
                        <i class="fa fa-dot-circle-o"></i>
                        Get Data
                      </button>
                    </div>
                   
                    </div>
              </div>
            </div>
          </div>


         
          <div class="col-lg-12">
            <div class="card"> 
          
              <div class="card-body">
                <table class="table table-bordered table-striped mb-0" mfDefaultSorter [mfData]="performanceTrackingData" #mf="mfDataTable" [mfRowsOnPage]="10">
                 <thead>
                    <tr>
                      <th class="text-center"><mfDefaultSorter by="Name">Traking<br>Number </mfDefaultSorter></th>
                      <th class="text-center"><mfDefaultSorter by="Name">Driver<br> Number</mfDefaultSorter></th>
                      <th class="text-center"><mfDefaultSorter by="Phone">Driver<br> Name</mfDefaultSorter></th>
                      <th class="text-center"><mfDefaultSorter by="AddressCount">Driver<br>Phone<br>Number</mfDefaultSorter></th>
                      <th class="text-center"><mfDefaultSorter by="TotalOrder">Order<br>Number</mfDefaultSorter></th>
                      <th class="text-center" ><mfDefaultSorter by="TotalWalletAmt">Distance<br>(KM)</mfDefaultSorter></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dataval of mf.data">
                      <td class="text-center">OAT/00000{{dataval.TrackingId}}</td>
                      <td class="text-center">{{dataval.DriverNo}}</td>
                      <td class="text-center">{{dataval.Name}}</td>
                      <td class="text-center">{{dataval.Phone}}</td>
                      <td class="text-center">
                        {{dataval.OrderNo}}
                      </td>
                      <td class="text-center">
                        ₹ {{dataval.finalDistanceCalculation}}
                      </td>

                    </tr>
                  </tbody>
                  <tfoot>
                    <!-- <tr>
                      <td class="text-center colspan5" colspan="5"> 
                        <b>
                          Total :
                        </b>
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{alibabaProductSubTotal.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{nonalibabaProductSubTotal.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{alibabaProductTotalWithGst.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{nonAlibabaProductTotalWithGst.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{nonAlibabaProductTotalWithGst.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{totalGst.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ {{totalDeliveryCharges.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center" >
                        ₹ {{totalDiscount.toFixed(2)}}
                      </td>
                      <td class="colspan5 text-center">
                        ₹ 77
                      </td>
                      <td colspan="2">

                      </td>
              
                    </tr> -->
                      
                    

                    <tr>
                      <td colspan="6">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                      
                  </tr>
                  </tfoot>
                </table>
                </div>
                </div>
                </div>

      </div> 
  
    </div>
   

  </div>
  