<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-info">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-note"></i>
          </button>
          <div class="text-value">{{NewOrder}}</div>
          <div>New Order</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="fa fa-history"></i>
          </button>
          <div class="text-value">{{PendingOrder}}</div>
          <div>Pending Order</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-success">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="fa fa-history"></i>
          </button>
          <div class="text-value">{{ CompletedOrder }}</div>
          <div>Completed Order</div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-dark">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="fa fa-history"></i>
          </button>
          <div class="text-value">{{ DispatchedOrder }}</div>
          <div>Dispatched Order</div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="fa fa-shopping-basket"></i>
          </button>
          <div class="text-value">{{TotalOrder}}</div>
          <div>All order</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-danger">
        <div class="card-body dash">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="fa fa-check"></i>
          </button>
          <div class="text-value">{{ActiveDriver}}</div>
          <div>Active Delivery Boy</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>
            Orders
            <button type="button" style="margin-left: 5px;" class="btn btn-success btn-sm pull-right" [routerLink]="['/orders/order-map']">Map Orders</button>
            <button type="button" class="btn btn-success btn-sm pull-right" [routerLink]="['/orders']">More...</button>
          </h5>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th width="12%">Order #</th>
                <th width="8%">Status</th>
                <th width="12%">Payment Mode</th>
                <th width="8%">Total</th>
                <th width="12%">Customer</th>
                <th colspan="4">Order Details</th>
                <th width="12%">Driver</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataval of data;">
                <td>{{dataval.OrderNo}}<br />
                  On: {{dataval.OrderedOn | date:"dd-MM-yyyy HH:mm"}}
                </td>
                <td>
                  <h5><span class="badge badge-warning" *ngIf="dataval.OrderStatusId == 1;">Pending</span></h5>
                  <h5><span class="badge badge-primary" *ngIf="dataval.OrderStatusId == 2;">Processing</span></h5>
                  <h5><span class="badge badge-success" *ngIf="dataval.OrderStatusId == 3;">Complete</span></h5>
                  <h5><span class="badge badge-danger" *ngIf="dataval.OrderStatusId == 4;">Cancelled</span></h5>
                </td>
                <td>{{dataval.PaymentMode}}</td>
                <td>{{dataval.TotalAmt}}</td>
                <td>{{dataval.CustomerName}}<br />
                  Phone: {{dataval.CustomerPhone}}
                </td>
                <td colspan="4">{{dataval.OrderDetail}}</td>
                <td>
                  {{dataval.DriverName}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <div class="card-body">
          <h5>Customers <button type="button" class="btn btn-success btn-sm pull-right" [routerLink]="['/customer-list']">More...</button></h5>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <!-- <th width="12%">Image</th> -->
                <th colspan="2">Name</th>
                <th>Phone</th>
                <!-- <th colspan="2">Email</th> -->
                <th class="text-center" width="10%">Cart</th>
                <th class="text-center" width="12%">Orders</th>
                <th class="text-center" width="12%">Wallet</th>
                <th class="text-center" width="12%">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataval of customerdata;">
                <!-- <td><img class="displayimage" alt="No Image" src={{url}}{{dataval.ProfileImage}} /></td> -->
                <td colspan="2">{{dataval.Name}}</td>
                <td>{{dataval.Phone}}</td>
                <!-- <td colspan="2">{{dataval.Email}}</td> -->
                <td class="text-center">
                  <i class="fa fa-shopping-cart" aria-hidden="true"
                    *ngIf="dataval.TotalCartQuantity != null; else elseCart">
                    <sup>{{dataval.TotalCartQuantity}}</sup></i>
                  <ng-template #elseCart>N/A</ng-template>
                </td>
                <td class="text-center">
                  <i class="fa fa-first-order" aria-hidden="true" *ngIf="dataval.TotalOrder != null; else elseOrder">
                    <sup>{{dataval.TotalOrder}}</sup></i>
                  <ng-template #elseOrder>N/A</ng-template>
                </td>
                <td class="text-center">
                  <i class="fa fa-inr" aria-hidden="true" *ngIf="dataval.TotalWalletAmt != null; else elseWallet">
                    <sup>{{dataval.TotalWalletAmt}}</sup></i>
                  <ng-template #elseWallet>N/A</ng-template>
                </td>
                <td class="text-center">
                  <i class="fa fa-check fa-lg text-success" *ngIf="dataval.IsActive == 1; else elseSpan"></i>
                  <ng-template #elseSpan>
                    <i class="fa fa-close fa-lg text-danger"></i>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>Drivers <button type="button" class="btn btn-success btn-sm pull-right" [routerLink]="['/driver-list']">
            More...
          </button></h5>

          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <!-- <th>Image</th> -->
                <th>Name</th>
                <th>Phone</th>
                <th class="text-center" width="14%">Pending</th>
                <th class="text-center" width="16%">Complete</th>
                <th class="text-center" width="16%">Published</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataval of driverdata;">
                <!-- <td><img class="displayimage" alt="No Image" src={{url}}{{dataval.ProfileImage}} /></td> -->
                <td>{{dataval.Name}}</td>
                <td>{{dataval.Phone}}</td>
                <td class="text-center">
                  <i class="fa fa-shopping-cart" aria-hidden="true" *ngIf="dataval.Pendings != null; else elsePend">
                    <sup>{{dataval.Pendings}}</sup></i>
                  <ng-template #elsePend>N/A</ng-template>
                </td>
                <td class="text-center">
                  <i class="fa fa-first-order" aria-hidden="true" (click)="myModal1.show()"
                    *ngIf="dataval.Completes != null; else elseComp"> <sup>{{dataval.Completes}}</sup></i>
                  <ng-template #elseComp>N/A</ng-template>
                </td>
                <td class="text-center">
                  <i class="fa fa-check fa-lg text-success" *ngIf="dataval.IsActive == 1; else elseSpan"></i>
                  <ng-template #elseSpan>
                    <i class="fa fa-close fa-lg text-danger"></i>
                  </ng-template>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5>
            Customer Feedback
          </h5>
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr>
                <th width="10%">Order No</th>
                <th width="12%">Rating</th>
                <th width="8%">Review</th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let dataval of customerReviewData;">
                  <td>{{dataval.OrderNo}}</td>
                  <td>{{dataval.OrderRate}}</td>
                  <td>{{dataval.OrderReview}}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
