// @import url(https://unpkg.com/@webpixels/css/dist/index.css);
.rounded-circle{width: 20px;}
.table-responsive{ width: 585px; font-size: 10px;}
 .input-group-text{font-size: .9rem; width: 165px;background: #2ab6f43d; border: 0;}
 .form-control{ font-size: .9rem; background: #12567417; border: 0;}