<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #vehicleForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td rowspan="4">
                    <img src="{{ imgUrl }}" alt="no image" runat="server" style="float: right; height: 80px; width: 100%;"><br>
                    <input name="image" type="file" id="name" (change)="uploadFile($event)">
                    <small style="color: red;">{{messageDl}}</small>
                  </td>
                </tr>
                <tr>
                  <td><b>Vehicle Class*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Name" name="vehicle.VehicleClass"
                      [(ngModel)]="vehicle.VehicleClass" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Vehicle Class is required
                    </small>
                  </td>
                  <td><b>Vehicle Brand*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Name" name="vehicle.VehicleBrand"
                      [(ngModel)]="vehicle.VehicleBrand" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Vehicle Brand is required
                    </small>
                  </td>
                </tr>
                <tr>
                    <td><b>Registration No*</b></td>
                    <td colspan="3">
                      <input type="text" class="form-control" placeholder="Enter Name" name="vehicle.RegistrationNo"
                        [(ngModel)]="vehicle.RegistrationNo" #nameRef="ngModel"
                        [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                      <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Registration number is required
                      </small>
                    </td>
                    <td><b>Fuel Type*</b></td>
                    <td colspan="3">
                      <input type="radio" [(ngModel)]="vehicle.FuelType" name="FuelType" value="Petrol"> Petrol
                      <input type="radio" [(ngModel)]="vehicle.FuelType" name="FuelType" value="Diesel"> Diesel
                      <input type="radio" [(ngModel)]="vehicle.FuelType" name="FuelType" value="Others"> Others
  
                      <input type="hidden" name="hdnLinkFlag" [(ngModel)]="vehicle.FuelType" #FuelTypeRef="ngModel"  
                      [class.is-invalid]="FuelTypeRef.invalid && FuelTypeRef.touched" required />
                      <small class="text-danger" [class.d-none]="FuelTypeRef.valid || FuelTypeRef.untouched">Select Type
                      </small>
                    </td>
                </tr>
                <tr>
                    <td>Engine (CC)</td>
                    <td colspan="3">
                      <input type="number" class="form-control" placeholder="Enter Name" name="EngineCC"
                        [(ngModel)]="vehicle.EngineCC" />
                    </td>
                    <td>Description</td>
                    <td colspan="3">
                      <input type="text" class="form-control" placeholder="Enter Name" name="Description"
                        [(ngModel)]="vehicle.Description" />
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="vehicleForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="backpage()"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
