<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #categoryForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td rowspan="3">
                    <img src={{url}}{{imgURL}} runat="server" alt="" style="float: right; height: 80px; width: 100%;" /><br>
                    <input name="Ifile" type="file" id="Iname" placeholder="Cover Image" (change)="uploadFile($event)">
                    <small style="color: red;">{{messageDl}}</small>
                  </td>
                </tr>
                <tr>
                  <td><b>Name*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Name" name="name"
                      [(ngModel)]="Category.Category" #nameRef="ngModel"
                      [class.is-invalid]="nameRef.invalid && nameRef.touched" required />
                    <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                    </small>
                  </td>
                  <td><b>Description*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Description" name="Description"
                      [(ngModel)]="Category.Description" #descriptionRef="ngModel"
                      [class.is-invalid]="descriptionRef.invalid && descriptionRef.touched" required />
                    <small class="text-danger" [class.d-none]="descriptionRef.valid || descriptionRef.untouched">Description is required
                    </small>
                  </td>
                </tr>
                <tr>
                    <td>Parent</td>
                    <td colspan="3">
                      <select name="ParentCategoryId" class="form-control" [(ngModel)]="Category.ParentCategoryId" #parentcategoryRef="ngModel"
                      [class.is-invalid]="parentcategoryRef.invalid && parentcategoryRef.touched" [disabled]="Category.IsEdit == '0'" required>
                        <option value="" selected>Select Parent Category</option>
                        <option *ngFor="let val of parentcategory" [value]="val.CategoryId">
                          {{val.Category}}
                        </option>
                      </select>
                      <small class="text-danger" [class.d-none]="parentcategoryRef.valid || parentcategoryRef.untouched">Parent Category is required
                      </small>
                    </td>
                    <td>Cover Video</td>
                    <td colspan="3">
                      <input name="Vfile" type="file" id="Vname" placeholder="Cover Video"
                        (change)="uploadFile1($event)">
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="categoryForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/categories-list']"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
