// Here you can add other styles
.displayimage{ width: 40px; height: 40px; border-radius: 50%; border: 2px solid #ccc; padding: 3px; } 
.table th, .table td{ padding: 0.3rem; }
.dash i{ font-size: 3em; }












