<!-- {{ driver | json }} -->
<!-- {{ fileList.length | json }} -->

<form #driverForm="ngForm" nzForm (ngSubmit)="!driverId ? addDriver() : editDriver()">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="name" nzRequired>
        Driver Name
      </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <input type="text" nz-input id="name" name="name" autocomplete="off"
          maxlength="50"
          placeholder="Enter driver name"
          [(ngModel)]="driver.name"
          required
        />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="phone" nzRequired>
        Phone No
      </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <input type="text" nz-input id="phone" name="phone" autocomplete="off"
          maxlength="10"
          placeholder="Enter phone no"
          [(ngModel)]="driver.phone"
          required
        />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="email" nzRequired>
            Email
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
          <input type="text" nz-input id="email" name="email" autocomplete="off"
            maxlength="50"
            placeholder="Enter email"
            [(ngModel)]="driver.email"
            required
          />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="zone" nzRequired>
        Zone
      </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
          <nz-select nzId="zone" name="zone"
            nzAllowClear 
            nzShowSearch 
            nzPlaceHolder="Select zone"
            [(ngModel)]="driver.zoneId"
            required
          >
            <nz-option *ngFor="let z of zones" [nzValue]="z._id" [nzLabel]="z.zoneName"></nz-option>
          </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="address" nzRequired>
            Address
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
          <input type="text" nz-input id="address" name="address" autocomplete="off"
            placeholder="Enter address"
            [(ngModel)]="driver.address"
            required
          />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="landmark" nzRequired>
            Landmark
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
          <input type="text" nz-input id="landmark" name="landmark" autocomplete="off"
            placeholder="Enter landmark"
            [(ngModel)]="driver.landmark"
            required
          />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="panNo" nzRequired>
          Pan No
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
          <input type="text" nz-input id="panNo" name="panNo" autocomplete="off"
            maxlength="10"
            placeholder="Enter pan no"
            [(ngModel)]="driver.panNo"
            required
          />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="adhaarNo" nzRequired>
        Adhaar No
      </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
        <input type="text" nz-input id="adhaarNo" name="adhaarNo" autocomplete="off"
          maxlength="12"
          placeholder="Enter adhaar no"
          [(ngModel)]="driver.adhaarNo"
          required
        />
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label  [nzSm]="4" [nzXs]="24" nzFor="licenseNo" nzRequired>
      License No
    </nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="The input is Required">
      <input type="text" nz-input id="licenseNo" name="licenseNo" autocomplete="off"
        placeholder="Enter license no"
        [(ngModel)]="driver.licenseNo"
        required
      />
    </nz-form-control>
  </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="4">
        <label nz-checkbox name="isOnline" [(ngModel)]="driver.isOnlineBoolean">Is Online</label> 
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Select Photo</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
          <button type="button" [disabled]="fileList.length == 1" nz-button>
            <i nz-icon nzType="upload"></i>{{ 'Match.MatchAddForm.clicktoupload' | translate }}
          </button>
        </nz-upload>
        <img *ngIf="driver.image" class="img img-thumbnail" width="70" src="{{ driver.image }}" alt="" />
      </nz-form-control>
    </nz-form-item>
    
    <br>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="3">
        <button type="Submit" *ngIf="!driverId" nz-button nzType="primary" [disabled]="driverForm.invalid">
          Submit
        </button>
        <button type="Submit" *ngIf="driverId" nz-button nzType="primary" [disabled]="driverForm.invalid">
          Update
        </button>
        &nbsp;
        <button nz-button nzType="primary" [routerLink]="['/drivers']">Back</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  