<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #bannermasterForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 col-form-label text-right">Banner Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Enter Banner Name" name="BannerName"
                      [(ngModel)]="Bannermaster.BannerName" #BannerNameRef="ngModel" />
                    <!-- <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                    </small> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 text-right">Link With</label>
                  <div class="col-md-9">
                    <input type="radio" [(ngModel)]="Bannermaster.LinkFlag" name="LinkFlag" value="3" (click)="showdiv('Combo')"> Combo
                    <input type="radio" [(ngModel)]="Bannermaster.LinkFlag" name="LinkFlag" value="1" (click)="showdiv('Category')"> Category
                  </div>
                </div>
              </div>
              <div class="col-sm-6" *ngIf="Category">
                <div class="row form-group">
                  <label class="col-md-3 col-form-label text-right">Category</label>
                  <div class="col-md-9">
                    <select name="ParentCategory" class="form-control" [(ngModel)]="Bannermaster.LinkId">
                      <option value="">Select Category</option>
                      <option *ngFor="let val of parentcategory" [value]="val.CategoryId">
                        {{val.Category}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 col-form-label text-right">Remarks</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Enter Remarks" name="Remarks"
                      [(ngModel)]="Bannermaster.Remarks" #RemarksRef="ngModel" />
                    <!-- <small class="text-danger" [class.d-none]="nameRef.valid || nameRef.untouched">Name is required
                    </small> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 col-form-label text-right">Display Order</label>
                  <div class="col-md-9">
                    <input type="number" class="form-control" placeholder="Display Order" name="DisplayOrder"
                      [(ngModel)]="Bannermaster.DisplayOrder" #RemarksRef="ngModel" />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 text-right" for="ccnumber">Top Banner</label>
                  <div class="col-md-9">
                    <input type="radio" [(ngModel)]="Bannermaster.IsHead" name="DisplayStockAvailability" value="1"> Yes
                    <input type="radio" [(ngModel)]="Bannermaster.IsHead" name="DisplayStockAvailability" value="0"> No
                  </div>
                </div>
              </div> 

              <div class="col-sm-6">
                <div class="row form-group">
                  <label class="col-md-3 col-form-label text-right">Banner Image</label>
                  <div class="col-md-9">
                    <input name="file" type="file" id="name" placeholder="CoverImage" (change)="uploadFile($event)">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="bannermasterForm.invalid" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i>
              Submit
            </button>
            <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/bannermaster-list']"><i
                class="fa fa-ban"></i>
              Cancel</button>
              <button type="button" class="btn btn-sm btn-secondary" (click)="backpage()"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>