<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form #bannermasterForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-body">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                <tr>
                  <td rowspan="4" colspan="2">
                    <img src={{url}}{{imgURL}} runat="server" alt="" style="float: right; height: 80px; width: 100%; margin-bottom: 10px;" /><br>
                    <input name="file" type="file" id="name" placeholder="CoverImage" (change)="uploadFile($event)"/>
                    <input type="hidden" name="fileName" [(ngModel)]="Bannermaster.BannerImage" #BannerImageRef="ngModel"
                      [class.is-invalid]="BannerImageRef.invalid && BannerImageRef.touched" required />
                    <small class="text-danger" [class.d-none]="BannerImageRef.valid || BannerImageRef.untouched">Banner is required
                    </small>
                    <small style="color: red;">{{messageDl}}</small>
                  </td>
                </tr>
                <tr>
                  <td><b>Name*</b></td>
                  <td colspan="3">
                    <input type="text" class="form-control" placeholder="Enter Banner Name" name="BannerName"
                      [(ngModel)]="Bannermaster.BannerName" #BannerNameRef="ngModel"
                      [class.is-invalid]="BannerNameRef.invalid && BannerNameRef.touched" required />
                    <small class="text-danger" [class.d-none]="BannerNameRef.valid || BannerNameRef.untouched">Name is required
                    </small>
                  </td>
                  <td><b>Link With*</b></td>
                  <td colspan="3">
                    <input type="radio" [(ngModel)]="Bannermaster.LinkFlag" name="LinkFlag" value="3" (click)="showdiv('Combo')"> N/A
                    <input type="radio" [(ngModel)]="Bannermaster.LinkFlag" name="LinkFlag" value="1" (click)="showdiv('Category')"> Category

                    <input type="hidden" name="hdnLinkFlag" [(ngModel)]="Bannermaster.LinkFlag" #LinkFlagRef="ngModel"
                      [class.is-invalid]="LinkFlagRef.invalid && LinkFlagRef.touched" required />
                    <small class="text-danger" [class.d-none]="LinkFlagRef.valid || LinkFlagRef.untouched">Select Link with
                    </small>
                  </td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td colspan="3">
                      <input type="text" class="form-control" placeholder="Enter Remarks" name="Remarks"
                      [(ngModel)]="Bannermaster.Remarks" #RemarksRef="ngModel" />
                    </td>
                    <td>Top Banner</td>
                    <td colspan="3">
                      <input type="radio" [(ngModel)]="Bannermaster.IsHead" name="DisplayStockAvailability" value="1"> Yes
                      <input type="radio" [(ngModel)]="Bannermaster.IsHead" name="DisplayStockAvailability" value="0"> No

                      <input type="hidden" name="hdnIsHead" [(ngModel)]="Bannermaster.IsHead" #IsHeadRef="ngModel"
                        [class.is-invalid]="IsHeadRef.invalid && IsHeadRef.touched" required />
                      <small class="text-danger" [class.d-none]="IsHeadRef.valid || IsHeadRef.untouched">Select Top Banner
                      </small>
                    </td>
                </tr>
                <tr>
                  <td>Category</td>
                  <td colspan="3">
                    <select name="ParentCategory" class="form-control" [(ngModel)]="Bannermaster.LinkId" [disabled]="!Category">
                      <option value="0">Select Category</option>
                      <option *ngFor="let val of parentcategory" [value]="val.CategoryId">
                        {{val.Category}}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" [disabled]="bannermasterForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/bannermaster-list']"><i class="fa fa-step-backward" aria-hidden="true"></i> Back</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
