<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <h4 class="head-line"><span>Pincodes</span></h4>
      </div>
      <div class="col-md-6 text-right">
        <nz-upload style="display: inline-flex;"
          [(nzFileList)]="fileList" 
          [nzBeforeUpload]="beforeUpload" 
          nzAccept=".xls, .xlsx"
        >
          <button type="button" class="btn-top1" [disabled]="fileList.length == 1" nz-button>
            <i nz-icon nzType="upload"></i>Import
          </button>
        </nz-upload>
        <button type="button" nz-button nzType="primary" (click)="importPincode()">
          Upload
        </button> 
        <button style="margin-bottom: 10px; margin-left: 6px;" nz-button nzType="primary" type="button" [routerLink]="['add']"
          *ngIf="userRole[1]"><i class="fa fa-plus"></i> Add 
        </button>
      </div>
  
      
  
      <div class="col-md-12">
        <nz-table nzShowSizeChanger [nzData]="allPincodes" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
          [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event); getAllPincodes();">
          <thead>
            <tr>
              <th nzColumnKey="pincode" [nzSortFn]="true">Pincode</th>
              <th nzColumnKey="zone" [nzSortFn]="true">Zone</th>
              <th nzColumnKey="area" [nzSortFn]="true">Area</th>
              <th nzColumnKey="district" [nzSortFn]="true">District</th>
              <th nzColumnKey="latitude" [nzSortFn]="true">Latitude</th>
              <th nzColumnKey="longitude" [nzSortFn]="true">Longitude</th>
              <th class="text-center" *ngIf="userRole[2]">Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let pincode of allPincodes">
              <tr>
                <td>{{ pincode.pincode }}</td>
                <td>{{ pincode.zoneId.zoneName }}</td>
                <td>{{ pincode.area }}</td>
                <td>{{ pincode.district }}</td>
                <td>{{ pincode.latitude }}</td>
                <td>{{ pincode.longitude }}</td>
                <td class="text-center" *ngIf="userRole[2]">
                  <a [routerLink]="['edit', pincode._id]" *ngIf="userRole[2]">
                    <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit" nzTheme="twotone"
                      style="margin-right: 6px;"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>