
nz-collapse {
    margin-bottom: 10px;
}

nz-card  img {
    height: 200px!important;width: 300px;
}

nz-card-meta {
    text-align: center;
}

.ant-card-bordered {
    border: 1px solid #a5aaad !important;
}